{% extends "templates/base.html" %}
{% block title %}World's Best Open Source ERP{% endblock %}
{% block content %}

<section class='top-section'>
	<div class='container'>
		<h1>World's Top Rated Open Source ERP</h1>
		<p class="lead">Rated by Gartner published "ERP Frontrunners"<p>
		<div class='mt-2 mb-3'>
			<a href='/pricing' class='btn btn-primary' target='_blank'>Start Free Trial</a>
		</div>
		<img class='mt-4' src='/assets/erpnext_com/img/front-runners.png'>
	</div>
</section>
<section class='section-bg'>
	<div class='container text-center'>
		<h2>Why we started ERPNext?</h2>
		<p class='lead mt-3'>
			ERPNext started as a solution to a problem that our founder, Rushabh Mehta, faced when
			he wanted to implement an ERP system for his family business. While building ERPNext, we decided
			that building it with a community is a far better way of making software in the 21st century than making it alone.
			<br><a href='https://frappe.io/story' target='_blank'>Read the full story.</a>
		</p>
	</div>
</section>
<section>
	<div class='container text-center'>
		<h3>Powered By Frappe</h3>
		<p class='lead text-center'>ERPNext is brought to you by Frappe Technologies.
			We are a company that is dedicated to help customers manage and grow their businesses and
			make the full use of ERPNext.</p>
		<img class='mt-4' src='/assets/erpnext_com/img/team.jpg'>
		<div class='mt-5'>
			<a href='https://frappe.io/about' class='btn btn-secondary' target='_blank'>Learn more about Frappe</a>
		</div>
	</div>
</section>

<hr>
{% include "erpnext_com/templates/includes/signup_footer.html" %}


{% endblock %}
