{% extends "templates/base.html" %}
{% block title %}World's Best Open Source ERP{% endblock %}
{% block content %}

<section class='top-section'>
	<div class='container'>
		<h1>World's Top Rated Open Source ERP</h1>
		<p class="lead">Rated by Gartner published "ERP Frontrunners"<p>
		<img class='mt-4' src='/assets/erpnext_com/img/front-runners.png'>
		<div class='mt-5'>
			<a href='/pricing' class='btn btn-primary btn-lg' target='_blank'>Get Started</a>
		</div>
	</div>
</section>

<hr>
<section>
	<div class='container text-center'>
		<h3>Powered By Frappe</h3>
		<p class='lead text-center'>ERPNext.com is brought to you by Frappe Technologies, the originator and maintainer of the ERPNext Project.</p>
		<img class='mt-4' src='/assets/erpnext_com/img/team.jpg'>
		<div class='mt-5'>
			<a href='https://frappe.io/about' class='btn btn-primary' target='_blank'>Learn more about Frappe</a>
		</div>
	</div>
</section>

{% endblock %}
