{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Agriculture{% endblock %}

{% block content %}

{{ domain(
	"Agriculture",
	"ERPNext for Agriculture",
	"ERPNext Agriculture module helps you manage your land, crop cycles, track soil composition and diseases.",
	"agriculture.jpg",
	[
		{
			"title": "Crop Cycle",
			"content": "Plan your crop cycles with standard processes linked to a crop and keep track of all tasks.",
			"path": '/docs/user/manual/en/agriculture/crop_cycle'
		},
		{
			"title": "Crop Management",
			"content": "The Crop master helps you keep plans and processes linked to a crop and track its history.",
			'path': '/docs/user/manual/en/agriculture/crop'
		},
		{
			"title": "Land Management",
			"content": "Geo-tag all your properties and map them in a hierarchical model.",
			'path': '/docs/user/manual/en/agriculture/land_unit'
		},
		{
			"title": "Disease Management",
			"content": "Keep a track of crop diseases with treatements and keep track of actions taken.",
			'path': '/docs/user/manual/en/agriculture/disease'
		},
		{
			"title": "Inventory",
			"content": "ERPNext stock module will help you manage inventory and procurement across warehouses.",
			'path': '/docs/user/manual/en/stock'
		},
		{
			"title": "Billing and Payments",
			"content": "Track all things financial, including billings and payments with the ERPNext accounts module.",
			'path': '/docs/user/manual/en/accounts'
		},
	]
	)
}}

{% endblock %}


