{% extends "templates/base.html" %}
{% block title %}Pricing Calculator{% endblock %}
{% block content %}
<section class='top-section after-splash'>
	<div class='container'>
		<h1>Pricing Calculator</h1>
	</div>
</section>

<div id="calculator">
	<div>
		<div>
			<label for="india">India</label>
			<input type="radio" name="region" value="india" v-model="region"/>
		</div>
		<div>
			<label for="me">Middle East</label>
			<input type="radio" name="region" value="me" v-model="region"/>
		</div>
		<div>
			<label for="europe">Europe</label>
			<input type="radio" name="region" value="europe" v-model="region"/>
		</div>
	</div>
	<div>
		<div>
			<label for="saas">SAAS</label>
			<input type="radio" name="service" value="saas" v-model="service"/>
		</div>
		<div>
			<label for="self">Self Hosted</label>
			<input type="radio" name="service" value="self" v-model="service"/>
		</div>
	</div>
	<div>
		<div>
			<label for="5">5 USD</label>
			<input type="radio" name="plan" value="5" v-model="plan"/>
		</div>
		<div>
			<label for="10">10 USD</label>
			<input type="radio" name="plan" value="10" v-model="plan"/>
		</div>
		<div>
			<label for="25">25 USD</label>
			<input type="radio" name="plan" value="25" v-model="plan"/>
		</div>
	</div>
	<div>
		<div>
			<label for="users">Number of Users</label>
			<input type="number" name="users" value="1" v-model="users"/>
		</div>
		<div>
			Region: {{ region }}
			Service: {{ service }}
			Plan: {{ plan }}
			Users: {{ users }}
			Total: {{ total }}
			Rate/User: {{ rate }}
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>

const pricing_multiplier = {
	"india": 1,
	"me": 1.5,
	"europe": 2,
}

const discounts = {
	"0:50": 0,
	"50:100": 5,
	"100:150": 10,
	"150:200": 15,
	"200:250": 20,
	"250:300": 25,
	"300:350": 30,
	"350:400": 35,
	"400:1000000000": 40,
}

var application = new Vue({
	el: '#calculator',
	data: {
		region: null,
		service: null,
		plan: null,
		users: 0,
	},
	computed: {
		total: function() {
			let users = Object.entries(discounts).map(range => {
				const result = range[0].split(":")
				const low = result[0]
				const high = result[1]
				return Math.min(parseInt(high) - parseInt(low), Math.max(this.users - parseInt(low), 0)) * (100 - range[1]) / 100
			}).reduce((a,b) => a+b)
			return pricing_multiplier[this.region] * this.plan * users
		},
		rate: function() {
			return this.total / this.users
		}
	}
})

</script>
{% endblock %}
