{% extends "templates/base.html" %}
{% block title %}Pricing Calculator{% endblock %}
{% block content %}
<section class='top-section after-splash'>
	<div class='container'>
		<h1>Pricing Calculator</h1>
	</div>
</section>

<div id="calculator">
	<div>
		<div>
			<label for="india">India</label>
			<input type="radio" name="region" value="india" v-model="region"/>
		</div>
		<div>
			<label for="me">Middle East</label>
			<input type="radio" name="region" value="me" v-model="region"/>
		</div>
		<div>
			<label for="europe">Europe</label>
			<input type="radio" name="region" value="europe" v-model="region"/>
		</div>
	</div>
	<div>
		<div>
			<label for="saas">SAAS</label>
			<input type="radio" name="service" value="saas" v-model="service"/>
		</div>
		<div>
			<label for="self">Self Hosted</label>
			<input type="radio" name="service" value="self" v-model="service"/>
		</div>
	</div>
	<div>
		<div>
			<label for="5">5 USD</label>
			<input type="radio" name="saas_plan" value="5" v-model="saas_plan"/>
		</div>
		<div>
			<label for="10">10 USD</label>
			<input type="radio" name="saas_plan" value="10" v-model="saas_plan"/>
		</div>
		<div>
			<label for="25">25 USD</label>
			<input type="radio" name="saas_plan" value="25" v-model="saas_plan"/>
		</div>
	</div>
	<div>
		<div>
			<label for="saas_users">Number of Users</label>
			<input type="number" name="saas_users" value="1" v-model="saas_users"/>
		</div>
	</div>
	<div>
		<div>
			Region: {{ region }}
			Service: {{ service }}
			SAAS Plan: {{ saas_plan }}
			SAAS Users: {{ saas_users }}
			SAAS Total: {{ saas_total }}
			SAAS Rate/User: {{ saas_rate }}
		</div>
	</div>
	<div>
		<div>
			<label for="100">100 USD</label>
			<input type="radio" name="self_plan" value="100" v-model="self_plan"/>
		</div>
	</div>
	<div>
		<div>
			<label for="self_users">Number of Users</label>
			<input type="number" name="self_users" value="10" v-model="self_users"/>
		</div>
		<div>
			<label for="self_ess_users">Number of ESS Users</label>
			<input type="number" name="self_ess_users" value="10" v-model="self_ess_users"/>
		</div>
	</div>
	<div>
		<div>
			Self Plan: {{ self_plan }}
			Self Users: {{ self_users }}
			Self ESS Users: {{ self_ess_users }}
			Self Total: {{ self_total }}
			Functional Consulting Hours: {{ self_functional_hours }}
			Developer Consulting Hours: {{ self_developer_hours }}
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

const pricing_multiplier = {
	"india": 1,
	"me": 1.5,
	"europe": 2,
}

const saas_discounts = {
	"0:50": 0,
	"50:100": 5,
	"100:150": 10,
	"150:200": 15,
	"200:250": 20,
	"250:300": 25,
	"300:350": 30,
	"350:400": 35,
	"400:1000000000": 40,
}

var application = new Vue({
	el: '#calculator',
	data: {
		region: null,
		service: null,
		saas_plan: null,
		self_plan: null,
		saas_users: 0,
		self_users: 0,
		self_ess_users: 0,
	},
	computed: {
		saas_total: function() {
			let users = Object.entries(saas_discounts).map(range => {
				const result = range[0].split(":")
				const low = result[0]
				const high = result[1]
				return Math.min(parseInt(high) - parseInt(low), Math.max(this.saas_users - parseInt(low), 0)) * (100 - range[1]) / 100
			}).reduce((a,b) => a+b)
			return pricing_multiplier[this.region] * this.saas_plan * users
		},
		saas_rate: function() {
			return this.saas_total / this.saas_users
		},
		self_total: function() {
			return pricing_multiplier[this.region] * (this.self_plan * this.self_users + this.self_plan * 0.3 * this.self_ess_users)
		},
		self_functional_hours: function() {
			return this.self_users * 0.5
		},
		self_developer_hours: function() {
			return this.self_users * 0.25
		}
	}
})

</script>
{% endblock %}
