{% extends "templates/base.html" %}
{% block title %}Pricing Calculator{% endblock %}
{% block content %}
<section class='top-section after-splash'>
	<div class='container'>
		<h1>Pricing Calculator</h1>
	</div>
</section>

<style>
.calculator-card {
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	padding: 15px;
}
</style>
{% raw %}
<div id="calculator" class="container">
	<div class="regions-container row">
		<div v-for="(region, index) in regions" class="col-sm-4">
			<div class="calculator-card" >
				<label>{{ region.label }}</label>
				<input type="radio" :value="index" v-model="selected_region_index"/>
			</div>
		</div>
	</div>
	<div class="servies-container row" v-if="selected_region_index !== null ">
		<div v-for="(service, index) in services" class="col-sm-6">
			<div class="calculator-card" >
				<label>{{ service.label }}</label>
				<input type="radio" :value="service.name" v-model="selected_service_name"/>
			</div>
		</div>
	</div>
	<div class="saas-container" v-if="selected_service_name == 'saas'">
		<div class="row">
			<div v-for="(plan, index) in saas_plans" class="col-sm-4">
				<div class="calculator-card">
					<label>{{ plan.label }}</label>
					<input type="radio" :value="index" v-model="selected_saas_plan_index"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="calculator-card">
					<label>Number of Users</label>
					<input type="number" v-model="saas_users"/>
				</div>
			</div>
		</div>
		<div v-if="selected_saas_plan_index != null" class="row">
			<div class="col-sm-12">
				<div class="calculator-card">
					Region: {{ regions[selected_region_index].label }}
					SAAS Plan: {{ saas_plans[selected_saas_plan_index].label }}
					SAAS Users: {{ saas_users }}
					SAAS Total: {{ saas_total }}
					SAAS Rate/User: {{ saas_rate }}
				</div>
			</div>
		</div>
	</div>
	<div class="self-hosted-container" v-if="selected_service_name == 'self_hosted'">
		<div class="row">
			<div class="col-sm-6">
				<div class="calculator-card">
					<label>Number of Users</label>
					<input type="number" v-model="self_hosted_users"/>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="calculator-card">
					<label>Number of ESS Users</label>
					<input type="number" v-model="self_hosted_ess_users"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="calculator-card">
					Region: {{ regions[selected_region_index].label }}
					Self Users: {{ self_hosted_users }}
					Self ESS Users: {{ self_hosted_ess_users }}
					Self Total: {{ self_hosted_total }}
					Functional Consulting Hours: {{ self_hosted_functional_hours }}
					Developer Consulting Hours: {{ self_hosted_developer_hours }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endraw %}


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>


var application = new Vue({
	el: '#calculator',
	data: {
		regions: [
			{
				label: "India, South Asia, and Africa",
				multiplier: 1,
			},
			{
				label: "Middle East, APAC and South America",
				multiplier: 1.5,
			},
			{
				label: "North America, Europe, and Australia",
				multiplier: 2,
			}
		],

		services: [
			{
				name: "saas",
				label: "SAAS",
			},
			{
				name: "self_hosted",
				label: "Self Hosted",
			}
		],

		saas_plans: [
			{
				label: "5 USD",
				cost: 5
			},
			{
				label: "10 USD",
				cost: 10
			},
			{
				label: "25 USD",
				cost: 25
			}
		],

		saas_discounts: {
			"0:50": 0,
			"50:100": 5,
			"100:150": 10,
			"150:200": 15,
			"200:250": 20,
			"250:300": 25,
			"300:350": 30,
			"350:400": 35,
			"400:1000000000": 40,
		},

		selected_region_index: null,
		selected_service_name: null,

		selected_saas_plan_index: null,
		saas_users: 0,

		self_hosted_users: 0,
		self_hosted_ess_users: 0,
	},
	computed: {
		saas_total: function() {
			if(this.selected_region_index !== null && this.selected_saas_plan_index !== null) {
				const users = Object.entries(this.saas_discounts).map(range => {
					const result = range[0].split(":")
					const low = parseInt(result[0])
					const high = parseInt(result[1])
					const users = parseInt(this.saas_users)

					return Math.min(high - low, Math.max(users - low, 0)) * (100 - range[1]) / 100
				}).reduce((a,b) => a+b)

				const region = this.regions[this.selected_region_index]
				const plan = this.saas_plans[this.selected_saas_plan_index]

				return region.multiplier * plan.cost * users
			}
		},
		saas_rate: function() {
			return this.saas_total / this.saas_users
		},

		self_hosted_total: function() {
			if(this.selected_region_index !== null) {
				const cost = 100
				const region = this.regions[this.selected_region_index]

				const users = parseInt(this.self_hosted_users)
				const ess_users = parseInt(this.self_hosted_ess_users)

				return region.multiplier * cost * (users + 0.3 * ess_users)
			}
		},
		self_hosted_functional_hours: function() {
			return this.self_hosted_users * 0.5
		},
		self_hosted_developer_hours: function() {
			return this.self_hosted_users * 0.25
		}
	}
})

</script>
{% endblock %}
