{% extends "frappe_theme/templates/base.html" %}
{% block title %}Get in Touch{% endblock %}

{% from "erpnext_com/templates/includes/card_grid.html" import card_grid %}

{% block head_include %}
	<meta name="description" content="ERPNext Contact Details" />
	<meta name="keywords" content="ERPNext, Contact, Queries" />
	<meta name="google-site-verification" content="euiq62LnIrUF6eLvL7wZEnVxhdfkfzuIMnSYRf4JzGk" />
{% endblock %}

{% block content %}
<section class='top-section'>
	<div class='container'>
	<h1>Get in Touch</h1>
	<p class='lead'>Find out the right person to address your query by clicking on the box below.</p>
	<div class='py-4'></div>

	{{ card_grid(
		None,
		None,
		[
			{
			"title": "Contact Sales",
			"content": "Talk to a sales representative to help you understand and evaluate ERPNext Cloud or Services",
			"url": "/contact-form"
			},
			{
			"title": "Contact Support",
			"content": "Already a Frappe / ERPNext Customer? Connect with the support team to answer your query",
			"url": "/contact-support"
			},
			{
			"title": "Partnerships",
			"content": "Expand your services with the world's best open source ERP community and a fast growing ecosystem",
			"url": "/partners/signup"
			},
			{
				"title": "Apply for a Job",
				"content": "Check out our company philosophy and opportunities. We are always looking for great engineers and consultants.",
				"url": "https://frappe.io/careers/apply"
			},
			{
				"title": "Get A Quote",
				"content": "Get a customized quote for self hosted ERPNext and implementation / development services",
				"url": "/get-a-quote"
			},
			{
				"title": "Report Vulnerability",
				"content": "Discovered a security issue? Submit a vulnerablility report for ERPNext or Frappe Framework.",
				"url": "/security/report"
			},
		])
	}}
</div>
</section>
<section class="section-bg">
	<div class='container'>
		{{ card_grid(
			"Contact Details",
			"Phone, Office Address and Social Media",
			[
				{
					"title": "Phone",
					"content": "<small>Skype: <a href='skype:erpnext?call'>ERPNext</a><br>
					US: <a href='tel:+1-209-813-4824'>+1 209 813 4824</a><br>
					India: <a href='tel:+912248970555'>+91 22 4897 0555</a><br>
					UK: <a href='tel:+44 29 2254 0018'>+44 29 2254 0018</a></small>"
				},
				{
					"title": "Address",
					"content": "<small>Frappe Technologies Pvt Ltd<br>
						D/324 Neelkanth Business Park,<br>
						Vidyavihar (W),<br>
						Mumbai 400086,<br>
						India</small>"
				},
				{
					"title": "Social",
					"content": "<small>Twitter: <a href='https://twitter.com/erpnext' target='_blank'>@erpnext</a><br>
						LinkedIn: <a href='https://in.linkedin.com/company/frappe-tech' target='_blank'>Frappe Technologies</a><br>
						Facebook: <a href='https://www.facebook.com/ERPNext/' target='_blank'>ERPNext Page</a><br>
						Medium: <a href='https://medium.com/frapp%C3%A9-thoughts' target='_blank'>Frappe Thoughts</a></small>"
				}
			])
		}}
	<div class='text-center'>
		<p class="mt-5">
			<a class="btn btn-primary btn-lg" href="/signup?plan=P-Standard-2019#personal-details">Start Free Trial</a>
		</p>
		<p class="mt-0 text-muted">Try ERPNext free for 14 days</p>
	</div>
	</div>
</section>
<style>.footer-message { display: none; }</style>

{% endblock %}
