{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Distribution{% endblock %}

{% block content %}

{{ domain(
	"Distribution",
	"ERPNext for Distribution or Trading",
	"ERPNext is a perfect fit for distribution companies and helps you manage your inventory across multiple currencies and companies.",
	"distribution.jpg",
	[
		{
			"title": "Inventory",
			"content": "ERPNext stock module will help you manage inventory and procurement across warehouses.",
			'path': '/docs/user/manual/en/stock'
		},
		{
			"title": "Billing and Payments",
			"content": "Track all things financial, including billings and payments with the ERPNext accounts module.",
			'path': '/docs/user/manual/en/accounts'
		},
		{
			"title": "Items and Variants",
			"content": "ERPNext Item management helps you create and manage your manufacturing items and its variants.",
			'path': '/docs/user/manual/en/stock/item'
		},
		{
			"title": "Multi Currency",
			"content": "You can maintain prices, bills, track payments and maintain account balances in multiple currencies.",
			'path': '/docs/user/manual/en/accounts/multi-currency-accounting'
		},
		{
			"title": "Batches and Serial Numbers",
			"content": "ERPNext has built-in support for batched and serialized inventory that will help you in traceability.",
			'path': '/docs/user/manual/en/stock/serial-no'
		},
		{
			"title": "Quality Inspection",
			"content": "Keep track of quality inspections done for purchased and manufacturing materials.",
			'path': '/docs/user/manual/en/quality-management'
		}
	]
	)
}}

{% endblock %}


