{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero %}
{% from "erpnext_com/templates/includes/macros.html" import feature %}

{% block title %}ERP for Distribution Business{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}

		<div class="container-fluid bg-white padd-0 border-bottom-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						{{ hero("ERP for Distribution Business") }}
						<p class="lead">
							Build a Profitable Business Using ERPNext </h1>
						<p class="mar-t-50 mar-b-0">
							<a class="x-large blue-btn button later" href="/signup?plan=Free">Sign Up — Free for 1 User</a>
						</p>
						<p class="mar-b-50">
							<a href="/pricing" class="cl-light-gray">See plans and pricing</a>
						</p>
						<div class="row">
							<div class="col-md-12 mar-t-70">
								<div class="fake-browser-frame">
									<img class="img-responsive browser-image feature-image" src="/assets/erpnext_com/images/distribution/hero.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{ feature("distribution") }}


		<div class="container-fluid bg-gray section-block testimonial">
			<div class="container">
				<h2 class="text-center h2">Trusted by users across 150+ countries</h2>
				<div class="row">
					<div class="col-sm-8 testimonial-content">
						<p class="p text-left">
							<strong>Amazing job with v7</strong>, The UI and UX are one of the most fluid and highly useable interfaces I have ever seen in an ERP. You make accounting fun (more or less ) Keep up the amazing work.

						</p>
						
					</div>
					<div class="col-sm-4">
								<p class="overflow-h text-center">
									<img src="/assets/erpnext_com/images/testimonials/gladwynlewis.jpg" class="img-responsive img-circle testimonial-img" />
								</p>
								<p class="testimonial_name text-center">
									 Gladwyn Lewis
								</p>
							</div>
					
				</div>
				<p class="text-center mar-t-50">
					<a class="button btn-link" href="/testimonials">Read more testimonials...</a>
				</p>
			</div>
		</div>


		<div class="container-fluid bg-white section-block">
			<div class="container">
				<h2 class="text-center h2">ERPNext also includes</h2>
				<div class="mar-t-50"></div>
				<div class="row standard-features">
					<div class="col-sm-6">
						<p><span class='indicator green'>Role Based Access</p>
						<p><span class='indicator green'>Field Level Customization</p>
						<p><span class='indicator green'>Customized Print</p>
						<p><span class='indicator green'>Email Integration</p>
						<p><span class='indicator green'>Report Builder</p>
						<p><span class='indicator green'>Shared Calendar</p>
						<p><span class='indicator green'>Customer, Vendor Portal</p>
						<p><span class='indicator green'>Downloadable Backups</p>
						<p><span class='indicator green'>Payment Integration</p>
					</div>
					<div class="col-sm-6">
						<p><span class='indicator green'>Workflow Engine</p>
						<p><span class='indicator green'>Custom Fields</p>
						<p><span class='indicator green'>Exensible Custom Scripts</p>
						<p><span class='indicator green'>SMS Integration</p>
						<p><span class='indicator green'>Gantt and Kanban View</p>
						<p><span class='indicator green'>Email Alerts</p>
						<p><span class='indicator green'>Finance Analytics</p>
						<p><span class='indicator green'>Website and Web Forms</p>
						<p><span class='indicator green'>Mobile App</p>
					</div>
				</div>

			</div>
		</div>

		<div class="container-fluid pricing-section">
			<div class="container text-center">
				<p class='lead'>Trusted by more than 3000 companies across 150 countries.
					<br></p>
				<p>
					<a class="x-large blue-btn button later" href="/signup?plan=Free">
						Sign Up - Free for 1 User</a>
				</p>
				<p>
					<a href="/pricing" class="cl-light-gray">See plans and pricing</a>
				</p>
			</div>
		</div>



		<script>
			frappe.ready(function(){
				$(".hero-and-content .container:first").removeClass('container');

			})
		</script>

{% endblock %}





