{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Education{% endblock %}

{% block content %}

{{ domain(
	"Education",
	"ERPNext for Education Institutes",
	"ERPNext Education module helps you manage your entire educational institution from admissions to assessments.",
	"education.jpg",
	[
		{
			"title": "Student Data",
			"content": "A single source of all information regarding students from guardians to attendance."
		},
		{
			"title": "Admissions",
			"content": "Create admission criteria and conduct online admissions with payments via the portal."
		},
		{
			"title": "Attendance",
			"content": "Manage the attendance of your students groups and batches with a simple click."
		},
		{
			"title": "Course Scheduling",
			"content": "Create a schedule of courses for each team, enroll students in programs and groups."
		},
		{
			"title": "Assessment",
			"content": "The assessment module lets you create complex criteria for each course and student and manage grades."
		},
		{
			"title": "Fee Collection",
			"content": "Track collection of fees by creating fee schedules and sending fee requests that can be paid on the portal."
		}
	]
	)
}}

{% endblock %}
