{% extends "templates/base.html" %}
{% block title %}ERPNext for Enterprise{% endblock %}
{% block content %}

<section class='top-section'>
    <div class='container'>
        <h1 class='mt-5'>Enterprise Platform for the Digital Age</h1>
        <p class="lead">Rated by Gartner published "ERP Frontrunners"<p>
        <img class='mt-5' src='/assets/erpnext_com/img/front-runners.png'>
        <div class='mt-5'>
            <p class='lead mb-3'>Find out how ERPNext can transform your
                enterprise with open source</p>
            <a href='/contact-form' class='btn btn-primary btn-lg' target='_blank'>Contact Sales</a>
        </div>
    </div>
</section>
<section class='section-bg'>
	<div class='container text-center'>
		<h2>Enterprise ❤️ Open Source</h2>
		<p class="lead">According to <a href="https://www.redhat.com/it/enterprise-open-source-report/2019">RedHat Enterprise IT report</a>, more than 90%
            IT leaders agree that open source plays a strategic role in the
            enterprise.<p>
        </p>
        <img class='mt-4 screenshot' src='/assets/erpnext_com/img/open-source-benefits.png'>
        <div class='text-muted small my-2'>Source: <a href="https://www.redhat.com/it/enterprise-open-source-report/2019">RedHat State of Enterprise Report 2019</a></div>
        <div class='mt-5'>
            <a href='/contact-form' class='btn btn-primary btn-lg'>Contact Sales</a>
        </div>
    </div>
</section>

{% endblock %}
