{% extends "templates/base.html" %}
{% block title %}ERPNext for Enterprise{% endblock %}
{% block content %}

<section class='top-section'>
    <div class='container'>
        <h1>ERPNext Enterprise Launchpad</h1>
        <p class="lead">Launch your enterprise towards freedom<p>
                <div class='mt-4 mb-4'>
                    <a href='/contact-form' class='btn btn-primary' target='_blank'>Contact Sales</a>
</section>

<section class="section" style="margin-top: -8rem">

    <div class="container">
        <h2>Be Agile, Be Free</h2>
        <p class="text-muted" style="font-size: 1.25em;">Established platforms in the ERP market are great, at
            being rigid. ERPNext is modern, modular, and customizable. No vendor lock-in is an added bonus. You
            can also self implement if you prefer.</p>
        <center><img class='card mt-5' src='/assets/erpnext_com/img/enterprise-launchpad-what-do-you-get.png'>
        </center>

        <br /><br />

        <div class="container">
            <h2>For the modern enterprise</h2>
            <center><img class='card mt-5' src='/assets/erpnext_com/img/enterprise-launchpad-offerings.png'>
            </center>
            <br /><br />


            <div class="container">
                <h2>Fit ERPNext to your business models</h2>
                <p class="text-muted" style="font-size: 1.25em;">Bend the system, not your business.
                    Customizations and quick feature development will always keep your business on track.</p>
                <br /><br />

                <div class="container">
                    <h2>One software, one truth</h2>
                    <p class="text-muted" style="font-size: 1.25em;">Most ERPs in the market often lack in some
                        modules. They’re either unusable or absent. ERPNext covers over 13 domains so that you
                        don’t have to wander and go through hell for integrating pieces of software.</p>
                    <center><img class='card mt-5'
                            src='/assets/erpnext_com/img/enterprise-launchpad-erpnext.png'></center>
                    <br /><br />

                    <div class="container">
                        <h2>Enterprise SLA</h2>
                        <p class="text-muted" style="font-size: 1.25em;">You want assurance, reliability, a
                            person to go to if anything at all goes wrong. We hear you. Get quick resolution and
                            dedicated account managers in our enterprise plans. Our product is free, our time
                            isn’t.</p>
                        <br /><br />


                        <div class="container">
                            <h2>A strong community</h2>
                            <p class="text-muted" style="font-size: 1.25em;">Being open-source has attracted a
                                lot of community members to contribute. This makes the software battle-tested and
                                added reliability over the years.</p>
                            <center><img class='card mt-5' src='/assets/erpnext_com/img/erpnext-community.png'>
                            </center>
                            <br /><br />

                            <div class="container">
                                <h2>Experts within reach</h2>
                                <p class="text-muted" style="font-size: 1.25em;">Whatever your business
                                    bottleneck in the current system, Frappe will find a solution. Low code
                                    customizations take care of most needs while our skilled developer team makes
                                    core features for advanced needs.</p>
                                <br /><br />

                                <div class='container'>
                                    <h2>Start a conversation, schedule a free demo</h2>
                                    <p class="text-muted" style="font-size: 1.25em;">Of course you’re not
                                        convinced yet. <a
                                            href="https://erpnext.com/signup?plan=P-Pro-2020#personal-details">Start
                                            a free trial</a>, say hello, get a free demo and then decide.<p>
                                            <div class='mt-4 mb-4'>
                                                <a href='/contact-form' class='btn btn-primary'
                                                    target='_blank'>Contact Sales</a>
                                                <br /><br /><br /><br />

                                                <div class='container'>
                                                    <h2>Gartner ERP Frontrunners</h2>
                                                    <center><img class='card mt-3'
                                                            src='/assets/erpnext_com/img/front-runners.png'>
                                                    </center>
                                                </div>
                                                <br /><br />
                                                <div class="container">
                                                    <h2>Reliance and ERPNext</h2>
                                                    <p class="text-muted" style="font-size: 1.25em;">ERPNext has
                                                        intrigued India’s second-largest conglomerate giant.</p>
                                                    <div>
                                                        <div class="embed-container">
                                                            <iframe
                                                                src='https://www.youtube.com/embed/jnoWwSBDQlI'
                                                                frameborder='0' allowfullscreen>
                                                            </iframe>
                                                        </div>
                                                    </div>

                                                    <br /><br />

                                                    <div class="container">
                                                        <h2>Check out whitepapers</h2>
                                                        <p class="text-muted" style="font-size: 1.25em;">Get
                                                            familiar with our products and ideas. <a href="/whitepapers">Check out Frappe whitepapers</a> on various topics ranging from
                                                            implementation methodologies to scaling ERPNext for
                                                            large organizations.</p>
                                                            <center><img class='card mt-5' src='/assets/erpnext_com/img/white-paper-show.png'>
                                                            </center>
                                                    </div>
                                                    <br /><br />

                                                    <div class='container'>
                                                        <h2>Enterprise ❤️ Open Source</h2>
                                                        <p class="text-muted" style="font-size: 1.25em;">
                                                            According to <a
                                                                href="https://www.redhat.com/it/enterprise-open-source-report/2019">RedHat
                                                                Enterprise IT report</a>, more than 90%
                                                            IT leaders agree that open source plays a strategic
                                                            role in the
                                                            enterprise.<p>
                                                            </p>
                                                            <img class='mt-4 screenshot'
                                                                src='/assets/erpnext_com/img/open-source-benefits.png'>
                                                            <div class='text-muted small my-2'>Source: <a
                                                                    href="https://www.redhat.com/it/enterprise-open-source-report/2019">RedHat
                                                                    State of Enterprise Report 2019</a></div>
                                                            <!-- <div class='mt-5'>
            <a href='/contact-form' class='btn btn-primary btn-lg'>Contact Sales</a>
            <p class='mt-3'><a class='text-muted' href='/get-a-quote'>Get a Quote</a></p>
        </div> -->
                                                    </div>
</section>

{% endblock %}