{% extends "frappe_theme/templates/base.html" %}
{% block title %}Open Source Cloud ERP Software - ERPNext{% endblock %}

{% from "templates/includes/media.html" import media %}

{% block head_include %}
	<meta name="description" content="ERPNext Features: Finanical Accounting, CRM, HRMS, Helpdesk and much more" />
	<meta name="keywords" content="ERP Software, Cloud ERP, Open Source ERP, Accounting Software, Online ERP, Online Accounting, ERP for small business" />
{% endblock %}

{% from "erpnext_com/templates/includes/card_grid.html" import card_grid %}
{% from "erpnext_com/templates/includes/feature_section.html" import full_width_feature %}
{% from "erpnext_com/templates/includes/feature_section.html" import full_width_feature_reverse %}

{% block content %}
<section class='section-padding'>
	<div class=container>
		{{ card_grid(
			"Hundreds of Features for your Organization",
			"All modules and integrations are available out of the box so you can get started immediately",
			[
				{
				"title": "Accounting",
				"content": "Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.",
				"url": "/docs/user/manual/en/accounts"
				},
				{
				"title": "HR & Payroll",
				"content": "Manage full employee life cycle right from Onboarding, payroll, Attendance, expense claims, assets  to Separation.",
				"url": "/docs/user/manual/en/human-resources"
				},
				{
				"title": "Manufacturing",
				"content": "Effectively maintain & manage  multilevel Bill of materials, Production costing, planning & Inventory.",
				"url": "/docs/user/manual/en/manufacturing"
				},
				{
				"title": "Buying & Selling",
				"content": "Increase productivity and lower costs by automating supplier quotation to Purchase order to Sales order flow.",
				"url": "/docs/user/manual/en/buying"
				},
				{
				"title": "CRM",
				"content": "Win and Retain more customers by optimising sales process. Track Leads, Opportunities and push the sales Orders on the go.",
				"url": "/docs/user/manual/en/CRM"
				},
				{
				"title": "Projects",
				"content": "Deliver both internal and external projects on time, budget and profitable. Track Tasks, Timesheets and Issues by project.",
				"url": "/docs/user/manual/en/projects"
				},
				{
				"title": "Helpdesk",
				"content": "Deliver a better service experience with an intuitive issue tracker and integrated knowledge base.",
				"url": "/docs/user/manual/en/support"
				},
				{
				"title": "Asset Management",
				"content": "Maintain and Manage details of assets, their movement, Value adjustment and depreciation.",
				"url": "/docs/user/manual/en/asset"
				},
				{
				"title": "Website",
				"content": "ERPNext comes with a fully featured content management with blogs, web pages and forms.",
				"url": "/docs/user/manual/en/website"
				},
			]
			)
		}}
	</div>
</section>

<section class='section-padding section-bg'>
	<h3 class="text-center">Customizable and Permission Controlled</h3>
	<p class='lead text-center'>ERPNext allows you to add custom roles, permission rules, scripts and workflows<br> to tailor the system to your needs and control access as required.</p>
	<div class="container">
		{{
			full_width_feature(
				"Permission Manager",
				"Set advanced control on role and user level permissions against the the data contained in the document being accessed.",
				"role-permission.png",
				"/docs/user/manual/en/setting-up/users-and-permissions",
			)
		}}
		{{
			full_width_feature_reverse(
				"Customizations",
				"ERPNext includes standard objects which account for many business needs and scenarios. If you have a unique business component for which you want to capture information in ERPNext you can create a custom fields, forms, module, scripts.",
				"custom-doctype.png",
				"/docs/user/manual/en/customize-erpnext",
			)
		}}
		{{
			full_width_feature(
				"Multilingual",
				"ERPNext is available in over 70 languages, making it one of the most accessible ERP softwares in the world.",
				"languages.png",
				"https://translate.erpnext.com",
			)
		}}
	</div>
</section>

<section class='section-padding'>
	<div class='text-center container'>
		<h3 class='text-center'>Loved by Users</h3>
		<p class='lead'>ERPNext is used by more than 3000 companies across the world</p>
		<img src="/assets/erpnext_com/img/home/customer-logos.png" class='greyscale my-5'>
		<div class='mt-4 '>
			<a class="btn btn-primary btn-lg" href="/pricing">Get Started</a>
		</div>
	</div>
</section>
<style>
	.footer-message { display: none; }
	.navbar { border: none !important; }
</style>
{% endblock %}