{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Healthcare{% endblock %}

{% block content %}

{{ domain(
	"Healthcare",
	"ERPNext for Healthcare",
	"ERPNext Healthcare modules helps you manage patients, appointments, consultations and lab tests along with billing and all the other ERPNext goodies",
	"healthcare.jpg",
	[
		{
			"title": "Patient Data",
			"content": "Keep track of all patients, their history and other critical parameters.",
			'path': '/docs/user/manual/en/healthcare/patient'
		},
		{
			"title": "Appointments",
			"content": "Maintain a schedule of all your physicians and track appointment bookings for them.",
			'path': '/docs/user/manual/en/healthcare/appointment'
		},
		{
			"title": "Consultations",
			"content": "Record all observations, assessments and prescriptions of all patient consultations.",
			'path': '/docs/user/manual/en/healthcare/patient_encounter'
		},
		{
			"title": "Lab Tests",
			"content": "Manage all Lab Tests along with specimens and results and keep them ready for print.",
			'path': '/docs/user/manual/en/healthcare/lab_test'
		},
		{
			"title": "Patient Billing",
			"content": "Track all things financial, including billings and payments with the ERPNext accounts module.",
			'path': '/docs/user/manual/en/healthcare/invoicing'
		},
		{
			"title": "Stores and Inventory",
			"content": "ERPNext stock module will help you manage medical inventory and procurement across warehouses.",
			'path': '/docs/user/manual/en/stock'
		}
	]
	)
}}

{% endblock %}
