.page-content {
	padding-bottom: 0px !important;
}

.dashboard-section {
	margin: auto;
	max-width: 90%;
}

.dashboard-section h1 {
	font-size: 1.5em;
}

@media(min-width: 768px) {
	.dashboard-section {
		max-width: 80%;
	}
}

@media(min-width: 992px) {
	.dashboard-section {
		max-width: 65%;
	}
}

.hero-content h1 {
	font-size: 1.85em;
	font-weight: 300;
}

.hero {
	border-bottom: 0px;
}

.erp-hero {
	border-bottom: 1px solid #e1e9f0;
}

.hero-content p {
	margin-bottom: 100px;
}

.navbar {
	border-bottom: 0px;
}

.main-illustration {
	margin: -90px 0 -60px -32px;
}

.hero-title {
	font-size: 32px;
}

@media screen and (max-width: 480px) {
	.main-illustration {
		margin: -60px 0 -20px -16px;
	}
	.hero-title {
		font-size: 26px;
	}
	.hero-title + p {
		font-size: 16px;
	}
}

.tabs {
  height:45px;
  padding: 0 0 0 0;
  overflow:visible;
}
.tab {
  width:200px;
  height:45px;
  overflow:hidden;
  float:left;
  margin:0 -15px 0 0;
}


.tab-box {
	cursor: pointer;
  height:50px;
  background: #fff;
  border-radius: 4px;
  border:1px solid #ccc;
  margin:0 10px 0;
  box-shadow: 0 0 2px  #fff inset;


 -webkit-transform: perspective(100px) rotateX(30deg);
 -moz-transform: perspective(100px) rotateX(30deg);

}

.tab.active {
  z-index:40;
  position:relative;
  padding-bottom:1px;
}
.tab.active .tab-box{
  background-color: #eee;
  box-shadow: 0 0 2px 0 #fff inset;
}

.tab-label {
	margin-top: 12px;
	display: inline-block;
	position: relative;
    -webkit-transform: perspective(100px) rotateX(-25deg);
    -moz-transform: perspective(100px) rotateX(-25deg);
}

.tab-content {
	padding-top: 10px;
	z-index:1;
	margin-top: -1px;
	border:1px solid #ccc;
	background:#eee;
	position:relative;
}

.tab-content img {
	border-top:1px solid #ccc;
}

.clear {
 clear:both;
}

/*.navbar, footer, .later {
	opacity: 0;
}

.navbar, footer, .later {
    -moz-animation: cssAnimation 1s ease-in 0s forwards;
    -webkit-animation: cssAnimation 1s ease-in 0s forwards;
    -o-animation: cssAnimation 1s ease-in 0s forwards;
    animation: cssAnimation 1s ease-in 0s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        opacity: 1;
    }
}
*/
