.page-content {
	padding-bottom: 0px !important;
}

.dashboard-section {
	margin: auto;
	max-width: 90%;
}

.dashboard-section h1 {
	font-size: 1.5em;
}

@media(min-width: 768px) {
	.dashboard-section {
		max-width: 80%;
	}
}

@media(min-width: 992px) {
	.dashboard-section {
		max-width: 65%;
	}
}

.hero-content h1 {
	font-size: 1.85em;
	font-weight: 300;
}

.hero {
	border-bottom: 0px;
}

.erp-hero {
	border-bottom: 1px solid #e1e9f0;
}

.hero-content p {
	margin-bottom: 100px;
}

.navbar {
	border-bottom: 0px;
}

/*.navbar, footer, .later {
	opacity: 0;
}

.navbar, footer, .later {
    -moz-animation: cssAnimation 1s ease-in 0s forwards;
    -webkit-animation: cssAnimation 1s ease-in 0s forwards;
    -o-animation: cssAnimation 1s ease-in 0s forwards;
    animation: cssAnimation 1s ease-in 0s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        opacity: 1;
    }
}
*/
