{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero %}
{% block title %} Open Source Cloud ERP - ERPNext {% endblock %}

{% block content %}
	<!-- {{ hero("ERP Made Simple",
		"ERPNext helps you take full control of your business. <br> It is as powerful as it is easy to use", "/assets/erpnext_com/images/home.png", False)}} -->
	<section class='hero text-center' style="padding-bottom: 0;">
		<div class='text-center'>
			<img class="main-illustration" src='/assets/erpnext_com/img/erpnext_com_illustration.png'
				style='width: 700px;'>
		</div>
		<h1 class="hero-title"><span class="what">ERP</span> Made Simple</h1>
		<p class='lead'>ERPNext helps you take full control of your business. <br> It is as powerful as it is easy to use</p>
		<p class="mar-t-50 mar-b-50">
			<a class="x-large blue-btn button later" href="/pricing" style="font-size: 20px;">
			Start a free 30-day trial</a>
		</p>
		<!-- <div class="mar-t-70">
			<div>
				<img class="img-responsive screenshot feature-image"
				src="/assets/erpnext_com/images/home.png">
			</div>
		</div> -->
	</section>

	<div class="group later">
		<div class="row section text-center">
			<div class="col-sm-12">
				<div class="dashboard-section">
					<h1 class="h2">Accounting, Inventory <br class="visible-xs"> and Beyond</h1>
					<p class="p">ERPNext covers all the features you need to run a small or medium business.</p>
				</div>
				<div class="tabs">
					<div class="tab active" data-target="image-1">
						<div class="tab-box">
							<span class='tab-label'>Items</span>
						</div>
					</div>
					<div class="tab" data-target="image-2">
						<div class="tab-box">
							<span class='tab-label'>Customers</span>
						</div>
					</div>
					<div class="tab" data-target="image-3">
						<div class="tab-box">
							<span class='tab-label'>Sales Invoice</span>
						</div>
					</div>
					<div class="tab" data-target="image-4">
						<div class="tab-box">
							<span class='tab-label'>Material Request</span>
						</div>
					</div>
				</div>

				<div class="tab-content">
					<img src="/assets/erpnext_com/images/home/new-item.gif"
						class="img-responsive image-1">
					<img src="/assets/erpnext_com/images/home/new-customer.gif"
						class="img-responsive image-2 hidden">
					<img src="/assets/erpnext_com/images/home/new-sales-inv.gif"
						class="img-responsive image-3 hidden">
					<img src="/assets/erpnext_com/images/home/new-material-req.gif" 						class="img-responsive image-4 hidden">
				</div>

			</div>
		</div>
	</div>

	<div class="row section later">
		<div class="col-sm-4 small-content">
			<div>
				<img style="height: 120px; margin-top: 10px;" src="/assets/erpnext_com/img/balloon.svg">
			</div>
			<h1>Expert Support</h1>
			<p>Our awesome support team is ready to help you get started on the ERPNext Cloud. Support is also available for local installations.</p>
			<a href="/pricing">See plans for details</a>
		</div>

		<div class="col-sm-4 small-content">
			<img src="/assets/erpnext_com/img/umbrella.svg">
			<h1>Amazing Community</h1>
			<p>The forum is the hub of activity related to ERPNext. You can ask a question, find developers or hire service providers.</p>
			<a href="https://discuss.erpnext.com" target="_blank">Visit the forum</a>
		</div>

		<div class="col-sm-4 small-content">
			<img src="/assets/erpnext_com/img/sun.svg">
			<h1>Developer Friendly</h1>
			<p>ERPNext is open source and infinitely extensible. Customize it, build upon it, add your own apps built with our <a href="https://frappe.io" class="underline">Frappé Framework</a>.</p>
			<a href="/download">Download ERPNext free</a>
		</div>
	</div>

	<script>
		frappe.ready(function() {
			$('.tab').click(function(){
			  let to_hide = $('.tab.active').removeClass('active').attr('data-target');
			  let to_show = $(this).addClass('active').attr('data-target');

			  $('.' + to_hide).addClass('hidden');
			  $('.' + to_show).removeClass('hidden');
			});

			var seen = [];
			var last = 0;
			setInterval(function() {
				var whats = [
					'ERP', 'Business', 'Accounting', 'Manufacturing', 'Operations',
					'Inventory', 'CRM', 'Managing', 'Timesheets', 'Billing', 'Projects',
					'Payroll', 'Leave Applications', 'Loans', 'Selling', 'Purchasing', 'To Do Lists',
					'Taxes', 'Quality'
				];

				if(seen.length == whats.length) {
					seen = []
				}

				var index = parseInt(Math.random() * whats.length);
				while(seen.includes(index) || last == index) {
					index = parseInt(Math.random() * whats.length);
				}

				var what = whats[index];

				seen.push(index);
				last = index;

				var start = 0;
				for(var i = 0; i < what.length; i++) {
					var text = what.substr(0, i + 1);
					start += 50 + Math.random() * 50;
					show_text(text, start);
				}


			}, 3000)

			function show_text(text, timeout) {
				setTimeout(() => {
					$('.what').text(text);
				}, timeout)
			}
		})
	</script>

{% endblock %}

