{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero %}
{% block title %} Open Source Cloud ERP - ERPNext {% endblock %}

{% block head_include %}
    <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{{ hero("ERP Made Simple",
		"ERPNext helps you take full control of your business. <br> It is as powerful as it is easy to use", "/assets/erpnext_com/images/home.png", False)}}
        
    <div class="group later">
        <div class="row section text-center">
            <div class="col-sm-12">
                <div class="dashboard-section">
                    <h1 class="h2">Accounting, Inventory <br class="visible-xs"> and Beyond</h1>
                    <p class="p">ERPNext covers all the features you need to run a small or medium business.</p>
                </div>
                <img src="/assets/erpnext_com/img/dashboard-shot.png" class="screenshot"
                    style="width: 600px;">
            </div>
        </div>
    </div>

    <div class="row section later">
        <div class="col-sm-4 small-content">
            <img src="/assets/frappe_theme/img/support.svg">
            <h1>Expert Support</h1>
            <p>Our awesome support team is ready to help you get started on the ERPNext Cloud. Support is also available for local installations.</p>
            <a href="/pricing">See plans for details</a>
        </div>

        <div class="col-sm-4 small-content">
            <img src="/assets/frappe_theme/img/community.svg">
            <h1>Amazing Community</h1>
            <p>The forum is the hub of activity related to ERPNext. You can ask a question, find developers or hire service providers.</p>
            <a href="https://discuss.erpnext.com" target="_blank">Visit the forum</a>
        </div>

        <div class="col-sm-4 small-content">
            <img src="/assets/frappe_theme/img/developers.svg">
            <h1>Developer Friendly</h1>
            <p>ERPNext is open source and infinitely extensible. Customize it, build upon it, add your own apps built with our <a href="https://frappe.io" class="underline">Frappé Framework</a>.</p>
            <a href="/download">Download ERPNext free</a>
        </div>
    </div>
    
{% endblock %}

