{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero, feature, testimonial %}

{% block title %}GST Ready ERP{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{{ hero("GST Ready ERP",
		"Easy Filing of the Goods and Services Tax",
		"/assets/erpnext_com/images/india/gst-sales-invoice.png", False) }}


	{{ feature({
			"title": "Start Right Away",
			"desc": "ERPNext comes GST ready out-of-the-box with tons of in-built tax-templates, chart of accounts, reports, and print formats to assure full GST compliance from the beggining.",
			"img": "/assets/erpnext_com/images/india/GSTR-1.png"
		})
	}}	

	{{ feature({
			"title": "Create GST Invoices from the get-go",
			"desc": "Issue GST compliant invoices to customers and business in accordance with print formats suggested by the authorities.",
			"img": "/assets/erpnext_com/images/india/GSTR-1.png"
		})
	}}	

	{{ feature({
		"title": "Item HSN Codes",
		"desc": "Setup HSN codes in the item master. If you don't know the HSN code, just type in the item name in the HSN field and the system will suggest the relevant HSN code.",
		"img": "/assets/erpnext_com/images/india/gst-hsn-name.png"
		})
	}}

	{{ feature({ Check with Nabin
		"title": "Item-wise Tax Breakup",
		"desc": "",
		"img": "/assets/erpnext_com/images/india/gst-hsn-name.png"
		})
	}}
	
	{{ feature({
			"title": "Upload Ready GSTR-1 and GSTR-2 Reports",
			"desc": "File your GSTR-1 with ease in ERPNext. The system generates a ready-to-upload report for hassle free filing.",
			"img": "/assets/erpnext_com/images/india/GSTR-1.png"
		})
	}}

	

	{{ feature({
			"title": "GSTIN in Address",
			"desc": "Assign GSTIN to Suppliers and Customers and have them fetched in your invoices and quotations.",
			"img": "/assets/erpnext_com/images/india/gstin-address.png"
		})
	}}

	{{ feature({
		"title": "Other GST Reports",
		"desc": "Keep an eye on your transactions with a flurry of reports tailored for GST.",
		"img": "/assets/erpnext_com/images/india/gst-report-itemised.png"
		})
	}}

	{% include("erpnext_com/templates/includes/industry_footer.html") %}
{% endblock %}

