{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Manufacturing{% endblock %}

{% block content %}

{{ domain(
	"Manufacturing",
	"ERPNext for Manufacturing Companies",
	"ERPNext Manufacturing module helps you manage your manufacturing process right from procurement to shipping finished goods.",
	"manufacturing.jpg",
	[
		{
			"title": "Bill of Materials",
			"content": "Manage multi-level Bill of Materials and Operations, the blue print of your manufacturing system.",
			'path': '/docs/user/manual/en/manufacturing/bill-of-materials'
		},
		{
			"title": "Production Plan",
			"content": "Make Production Plans based on Sales Orders or internal requirements and track operations.",
			'path': '/docs/user/manual/en/manufacturing/production-plan'
		},
		{
			"title": "Work Order",
			"content": "Issue and track Work Orders for workstations and plan time and material for each Work Order.",
			'path': '/docs/user/manual/en/manufacturing/work-order'
		},
		{
			"title": "Items and Variants",
			"content": "ERPNext Item management helps you create and manage your manufacturing items and its variants.",
			'path': '/docs/user/manual/en/stock/item'
		},
		{
			"title": "Batches and Serial Numbers",
			"content": "ERPNext has built-in support for batched and serialized inventory that will help you in traceability.",
			'path': '/docs/user/manual/en/stock/batch'
		},
		{
			"title": "Quality Inspection",
			"content": "Keep track of quality inspections done for purchased and manufacturing materials.",
			'path': '/docs/user/manual/en/stock/tools/quality-inspection'
		},
	]
	)
}}

{% endblock %}


