{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Non Profits{% endblock %}

{% block content %}

{{ domain(
	"Non Profit",
	"ERPNext for Non Profits",
	"ERPNext Non Profit module helps you manage all your members, donors, projects and much more.",
	"nonprofit.jpg",
	[
		{
			"title": "Members and Volunteers",
			"content": "Maintain data of all your members, their memberships and terms, also collect payments online.",
			'path': '/docs/user/manual/en/non_profit/membership'
		},
		{
			"title": "Donors",
			"content": "Manage a database of your donors and their details. Also accept payments online via the portal.",
			'path': '/docs/user/manual/en/non_profit/donor'
		},
		{
			"title": "Grants",
			"content": "Keep a track of all Grant applications and track expenses with projects.",
			'path': '/docs/user/manual/en/non_profit/grant-application'
		},
		{
			"title": "Project Management",
			"content": "Manage all your projects with tasks, assignments and reminders and tracking expenses and billing too.",
			'path': '/docs/user/manual/en/projects'
		},
		{
			"title": "Financial Accounting",
			"content": "Track all things financial, including billings and payments with the ERPNext accounts module.",
			'path': '/docs/user/manual/en/accounts'
		},
		{
			"title": "Stock and Inventory",
			"content": "ERPNext stock module will help you manage inventory and procurement across warehouses.",
			'path': '/docs/user/manual/en/stock'
		}
	]
	)
}}

{% endblock %}
