{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero, feature, testimonial %}

{% block title %}ERP for Retail Business{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{{ hero("ERP for Retailers",
		"Manage and Grow Your Store with ERPNext", 			"/assets/erpnext_com/images/retail/retail-hero.jpg") }}


	{{ feature({
			"title": "Point of Sale",
			"desc": "ERPNext has touch-friendly Point of Sales interface which is linked to billing, payments and Inventory. You can manage settings like Currency, Cash / Bank Account, Taxes, and Terms and Conditions individually for each location. POS feature also works offline and syncs when you have internet.",
			"img": "/assets/erpnext_com/images/retail/point-of-sale.jpg"
		})
	}}

	{{ feature({
			"title": "Inventory",
			"desc": "Easily manage multiple inventory locations. When the stock goes below threshold quantity - Automatically raise material requests, send purchase orders to suppliers and record purchase receipts. Batches, serial numbers, stock valuation and automated inventory accounting help you be on top of the stock.",
			"img": "/assets/erpnext_com/images/retail/stock.jpg"
		})
	}}

	{{ feature({
			"title": "Multi-store",
			"desc": "Your stores at multiple locations will run cohesively with ERPNext. You can manage your operations remotely, communicate between different branches and analyze real-time reports across all branches.",
			"img": "/assets/erpnext_com/images/retail/multi-store.jpg"
		})
	}}

	{{ feature({
			"title": "Billing and Accounting",
			"desc": "Billing and receivables tracking in ERPNext helps you stay on top of your finances. Inventory linked accounting helps you get the performance of each product. Get the insights about your top selling products and make more informed decisions.",
			"img": "/assets/erpnext_com/images/retail/invoice.jpg"
		})
	}}

	{{ feature({
			"title": "Sales and Purchase",
			"desc": "You  can track communication with your Leads or Customers. Keep engaging with them by sending newsletter once in awhile and send specific Quotations when they are ready to order. Keep track of items to buy by raising Material Requests, send Purchase Orders to your suppliers and enter Purchase Receipts when you receive material.",
			"img": "/assets/erpnext_com/images/industries/purchase-order.png"
		})
	}}


	{{ testimonial("Konrad Schwitter, OfficeOne", "<strong>We are using erpnext for more than four years and are very happy.</strong> We use all the modules a trading company needs to be successful including POS and Accounting. We also run the hosted cloud solution from erpnext with a unbelievable availability and performance. This week I kickstarted a new project with one of my other companies.", "/assets/erpnext_com/images/testimonials/konrad.png") }}


	{% include("erpnext_com/templates/includes/industry_footer.html") %}

{% endblock %}

