{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Retail{% endblock %}

{% block content %}

{{ domain(
	"Retail",
	"ERPNext for Retail",
	"ERPNext can help you manage your shop or multiple shops with a web based POS with integrated inventory and accounting.",
	"retail.jpg",
	[
		{
			"title": "Point of Sale",
			"content": "The ERPNext POS helps you manage your store checkout easily with integrated billing and inventory."
		},
		{
			"title": "Inventory",
			"content": "ERPNext stock module will help you manage inventory and procurement across warehouses."
		},
		{
			"title": "Billing and Payments",
			"content": "Track all things financial, including billings and payments with the ERPNext accounts module."
		},
		{
			"title": "Items and Variants",
			"content": "ERPNext Item management helps you create and manage your manufacturing items and its variants."
		},
		{
			"title": "Batches and Serial Numbers",
			"content": "ERPNext has built-in support for batched and serialized inventory that will help you in traceability."
		},
		{
			"title": "HR and Payroll",
			"content": "Manage your employee data, payroll, leave and attendance, expense claims, all within your ERPNext system."
		},
	]
	)
}}

{% endblock %}
