{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero %}
{% from "erpnext_com/templates/includes/testimonials_macros.html" import testimonials %}

{% block title %}ERPNext Reviews{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}

		<section>
			<div class="container">
				<div class="row section-block">
					<div class="col-md-12 text-center">
						<h1>Users ❤️ ERPNext</h1>
						<p class='lead text-muted'>Loved by more than 3000 companies across the world</p>
					</div>
				</div>
			</div>
		</section>

		{{ testimonials() }}

		<section>
			<div class="container text-center">
				<h2>Independent Reviews</h2>
				<div class=row>
					<div class='col-md-4 col-sm-12'>
						<p><img src='/assets/erpnext_com/images/testimonials/stars.png' style='max-width: 120px'></p>
						<p class=text-muted><a href='http://www.softwareadvice.com/erp/erpnext-profile/'>SoftwareAdvice.com</a></p>
					</div>
					<div class='col-md-4 col-sm-12'>
						<p><img src='/assets/erpnext_com/images/testimonials/stars.png' style='max-width: 120px'></p>
						<p class=text-muted><a href='https://www.getapp.com/operations-management-software/a/iwebnotes/'>Capterra.com</a></p>
					<p>
					</div>
					<div class='col-md-4 col-sm-12'>
						<p><img src='/assets/erpnext_com/images/testimonials/stars.png' style='max-width: 120px'></p>
						<p class=text-muted><a href='https://www.g2crowd.com/products/erpnext/reviews'>G2Crowd.com</a></p>
					</div>
				</div>
			</div>
		</section>

		{% include "erpnext_com/templates/includes/signup_footer.html" %}

{% endblock %}


