{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero %}
{% from "erpnext_com/templates/includes/testimonials_macros.html" import testimonials %}

{% block title %}ERPNext Reviews{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}

		<section>
			<div class="container">
				<div class="row section-block">
					<div class="col-md-12 text-center">
						<h1>What Our Users Say</h1>
						<!--<p class='lead text-muted'>Loved by more than 5000 companies across the world</p> -->
					</div>
				</div>
			</div>
		</section>

		{{ testimonials() }}

		<section>
			<div class="container text-center">
				<h2>Independent Reviews</h2>
				<div class="row mt-5">
					<div class='col-md-3 col-sm-12'>
						<a href='https://www.capterra.com/reviews/164441/ERPNext?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge'>  <img src='/assets/erpnext_com/images/testimonials/capterra-200.png'style="padding-bottom: 5px; padding-top: 5px"/></a>
					</div>
					<div class='col-md-3 col-sm-12'>
						<a href="https://www.getapp.com/operations-management-software/a/iwebnotes/reviews/" target="_blank"><img alt="Read ERPNext Reviews on GetApp.com" src="/assets/erpnext_com/images/testimonials/getapp-200.png" title="Read ERPNext Reviews on GetApp.com" style="padding-top: 5px;padding-bottom: 5px;"/></a>
					</div>
					<div class='col-md-3 col-sm-12'>
						<a href='https://www.g2crowd.com/products/erpnext/reviews'><img src='/assets/erpnext_com/images/testimonials/g2-200.png' style="padding-top: 5px; padding-bottom: 5px;"></a>
					</div>
					<div class="col-md-3 col-sm-12">
						<a href="https://crozdesk.com/operations-management/resource-planning-erp-software/erpnext" target="_blank" title="ERPNext - software ratings and reviews on Crozdesk"><img src="/assets/erpnext_com/images/testimonials/crozdesk-200.png" alt="ERPNext reviews" style="padding-top: 5px; padding-bottom: 5px;" /></a>	
					</div>
				</div>

			</div>
		</section>

		{% include "erpnext_com/templates/includes/signup_footer.html" %}

{% endblock %}

