.review-section {
	max-width: 800px;
	margin: auto;
	margin-bottom: 60px;
}

@media (max-width: 767px) {
	.review-section {
		padding: 0px 45px;
	}
	.review-by {
		text-align: center;
	}
}

.review-box {
	border: 1px solid #d1d8dd;
	padding: 30px 30px 15px 30px;
	border-radius: 6px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-img {
	margin: auto;
    max-width: 120px !important;
    border-radius:50% !important;
}
.testimonial-img-left {
	margin:auto;
}
.testimonial-img-right {
	clear:both;
}

.testimonial-content {
	 min-height: 150px;
}
.testimonial .p,
.testimonial-content .p {
	margin:0;
}
