{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero, feature, testimonial %}
{% from "erpnext_com/templates/includes/macros.html" import feature %}

{% block title %}School management software{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{{ hero("School Management Software",
		"One Less Thing to Learn",
		"/assets/erpnext_com/images/schools/school-hero.png", False) }}

	{{ feature({
			"title": "Student Data",
			"desc": "Have a secure place to collect and store all student data. Enrollment, parent’s info, address, sibling info, course material, course schedule, mark sheets and attendance. Find all the info you need about anyone instantly.",
			"img": "/assets/erpnext_com/images/schools/student_data.png"
		})
	}}

	{{ feature({
			"title": "Attendance",
			"desc": "Mark attendance and track it easily. Let teachers focus on lessons by making attendance super quick. Easily drawing reports from data and also share with parents.",
			"img": "/assets/erpnext_com/images/schools/attendance.png"
		})
	}}

	{{ feature({
			"title": "Admissions",
			"desc": "Efficiently manage entire school’s admission process by taking it online. Make it convenient for applying parents to go through your admission procedure. Receive applications centrally and make sure the most fit applications pass through. ",
			"img": "/assets/erpnext_com/images/schools/admission.png"
		})
	}}

	{{ feature({
			"title": "Assessments",
			"desc": "Publish tests, assignments and homework to students with instructions and due dates. Be sure who submitted the answers and assess each one easily. No data entry effort and no room for error.",
			"img": "/assets/erpnext_com/images/schools/assessment.png"
		})
	}}

	{{ feature({
			"title": "Fee Collection",
			"desc": "Collect and manage fees in a convenient way. Always know who has paid and who as not, publish fee collection dates and send automatic reminders to concerned students. No data entry hassles.",
			"img": "/assets/erpnext_com/images/schools/fees.png"
		})
	}}

	{{ testimonial("Manoj Thandassery", "We are a Educational products company (bangalore), I signed up for a trial of ERP next and found it surprisingly powerful and elegant, Bravo fellow- startup!", "/assets/erpnext_com/images/testimonials/manoj.png") }}

	{% include("erpnext_com/templates/includes/industry_footer.html") %}

{% endblock %}

