{% extends "frappe_theme/templates/base.html" %}

{% from "erpnext_com/templates/includes/domain.html" import domain %}

{% block title %}ERP for Services{% endblock %}

{% block content %}

{{ domain(
	"Services",
	"ERPNext for Services",
	"ERPNext is ideal for service organizations with a integrated projects and people management.",
	"services.jpg",
	[
		{
			"title": "Project Management",
			"content": "Manage all your projects with tasks, assignments and reminders and tracking expenses and billing.",
			'path': '/docs/user/manual/en/projects'
		},
		{
			"title": "Billing and Payments",
			"content": "Track all things financial, including billings and payments with the ERPNext accounts module.",
			'path': '/docs/user/manual/en/accounts'
		},
		{
			"title": "HR and Payroll",
			"content": "Manage your employee data, payroll, leave and attendance, expense claims, all within your ERPNext system.",
			'path': '/docs/user/manual/en/human-resources'
		},
		{
			"title": "Time Tracking",
			"content": "ERPNext helps you maintain timesheets against projects or tasks and also update them in bulk.",
			'path': '/docs/user/manual/en/projects/timesheet'
		},
		{
			"title": "CRM and Sales",
			"content": "Track and follow up with leads and opportunites and send out rule based emails and newsletters.",
			'path': '/docs/user/manual/en/CRM'
		},
		{
			"title": "Helpdesk",
			"content": "Manage your customer service and support with email integrated issue tracker.",
			'path': '/docs/user/manual/en/support'
		},
	]
	)
}}

{% endblock %}