{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero, feature, testimonial %}

{% block title %}ERP for Service Business{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{{ hero("ERP for Services",
		"Manage and Grow Your Firm with ERPNext", 			"/assets/erpnext_com/images/services/services-hero.png") }}

	{{ feature({
			"title": "Projects and Timesheets",
			"desc": "In ERPNext all projects are linked to Tasks, Timesheets, Expenses, Purchases, Budgets so you get a full view of your activities. Billing and Payroll is also deeply tied to projects making it easier for you to tie everything together.",
			"img": "/assets/erpnext_com/images/services/projects.png"
		})
	}}


	{{ feature({
			"title": "Billing and Invoicing",
			"desc": "Billing and receivables tracking in ERPNext helps you stay
							on top of your finances. Project based accountings helps you get the
							profitability of each project on your fingertip.",
			"img": "/assets/erpnext_com/images/services/invoice.png"
		})
	}}

	{{ feature({
			"title": "HR, Leave and Payroll",
			"desc": "Your employees can apply for leaves and claim expenses directly through ERPNext. All of this is seamlessly integrated with your payroll and accounting. ERPNext also helps you manage recruiting, appraisals, trainings and much more.",
			"img": "/assets/erpnext_com/images/services/hr.png"
		})
	}}

	{{ feature({
			"title": "CRM and Sales",
			"desc": "With a fully integrated sales management system, you can track Leads,
							Opportunities, send Quotes, manage Orders and fulfilment in ERPNext.
							You can set alerts and send email directly from the system so that
							you can close more deals.",
			"img": "/assets/erpnext_com/images/industries/sales-analytics.png"
		})
	}}

	{{ feature({
			"title": "Helpdesk and Support",
			"desc": "By linking your incoming support emails to ERPNext, you can keep track
							of open issues across projects and make sure your customers are happy
							by answering on time. You can also create help articles and build
							a support portal that will make your customers get what
							they need even faster.",
			"img": "/assets/erpnext_com/images/services/support.png"
		})
	}}

	{{ testimonial("Zel Ortiz", "After trying so many ERP's, <strong>what I liked is the completeness and ease of use of ERPnext. </strong> Other ERP’s are very hard to use and learn” At Alcon, people were used to working on traditional excel / word files. It was difficult to get everybody to use ERPNext, which was based on an open source platform; However, they came around when they saw a user-friendly interface.", "/assets/erpnext_com/images/testimonials/zel-ortiz.png") }}

	{% include("erpnext_com/templates/includes/industry_footer.html") %}
{% endblock %}





