<!-- no-cache -->

<section class='top-section'>
	<div class='container'>
	<h1>Sign up for ERPNext</h1>
	<p class='lead mb-4'>Start right now with a Free 30 day trial</p>

	<div class="missing-domain-msg text-center hidden w-500 mb-4">
		<p class="alert alert-warning"><span class="missing-domain text-primary"></span> does not exist</p>
		<i class="octicon octicon-chevron-down mega-octicon" style="color: #36414C;"></i>
	</div>

	<div class='card w-500 text-left'>
		<div class='card-body'>
			<form class="signup-state-details" role="form">
				<div class="form-group">
					<p class="help-block">Full Name</p>
					<input name="full_name" placeholder="Jane Doe" class="form-control" type="text">
				</div>

				<div class="form-group">
					<p class="help-block">Email Address</p>
					<input name="email" placeholder="jane_doe@example.com" class="form-control" type="text">
					<p class="validation-message">Please enter a valid email address</p>
				</div>

				<div class="form-group">
					<p class="help-block">Company Name <em></em></p>
					<input name="company_name" placeholder="Best Builds" class="form-control" type="text">
				</div>

				<div class="form-group signup-subdomain">
					<p class="help-block">Subdomain <em class='small text-muted'>(can only contain letters, numbers and hyphens.)</em></p>
						<div class="input-group">
							<input name="subdomain" placeholder="mycompany" class="form-control" type="text">
							<div class="input-group-append">
								<span class="input-group-text">.{{ signup_domain }}</span>
							</div>
						</div>
						<div class="availability">
							<span class="availability-status hidden"><i class="octicon octicon-check"></i><span></span></span>
							<span class="availability-spinner small text-muted hidden">checking...</span>
						</div>
					<p class="validation-message small"></p>
				</div>

				<br>
				<div class="form-group text-center">
					<button class="btn btn-primary btn-request" type="button">Setup My Account</button>
				</div>

			</form>
		</div>
	</div>
	</div>
</section>

{% include "erpnext_com/templates/includes/google_conversion.html" %}

<script>
	{% include "erpnext_com/templates/includes/signup.js" %}
	{% include "templates/styles/card_style.css" %}

	window.erpnext_signup = {
		subdomain_placeholder: 'mycompany',
		distribution: 'erpnext'
	}

	frappe.ready(function() {
		setup_signup($('#page-signup'));
	});
</script>

<style>
.form-group {
	position: relative;
	margin-bottom: 30px;
}

.hero-and-content {
	background-color: #f5f7fa;
}

[data-html-block="header"] {
	text-align: center;
}

.page-card {
	max-width: 500px;
    padding: 30px 40px;
    margin: 20px auto;
}

.help-block {
	margin-bottom: 5px;
}

.availability-status i, .availability-spinner i {
	margin: 5px;
	font-size: 16px;
}

.validation-message {
	display: none;
	margin-top: 0px;
    position: absolute;
}

.invalid .validation-message{
	color: #ffad58;
	display: inherit;
}

.invalid input {
	border-color: #ffad58;
	background-color: #fffdf4;
}


</style>
