<!-- no-cache -->
<section class='top-section staged-form'>
	<div class='container'>

		<!-- <div class="stage-container w-500">
			<div class="stage-line"></div>
			<i class="stage completed"></i>
			<i class="stage stage-2"></i>
			<i class="stage stage-3"></i>
			<i class="stage"></i>
		</div> -->

		<!-- <div class="stage-names w-500">
			<div class="stage-name small">Personal Info</div>
			<div class="stage-name text-extra-muted small stage-name-subscription">Setup Account</div>
			<div class="stage-name text-extra-muted small">Verify Email</div>
		</div> -->
		<h2 class="mb-4">Sign Up for ERPNext</h2>

		<div class="missing-domain-msg text-center hidden w-500 mb-4">
			<p class="alert alert-warning"><span class="missing-domain text-primary"></span> does not exist</p>
			<i class="octicon octicon-chevron-down mega-octicon" style="color: #36414C;"></i>
		</div>

		<div>
			<div class='w-500 card text-left'>
				<div class='card-body'>
					<form class="signup-state-details" role="form">
						<!-- Personal Info Section -->
						<div class="personal-info hide">
							<div class="form-group signup-subdomain">
								<p class="help-block">Your Site Name <em class='small text-muted'>(can only contain letters and numbers.)</em></p>
								<div class="input-group">
									<input name="subdomain" placeholder="mycompany" class="form-control" type="text">
									<div class="input-group-append">
										<span class="input-group-text">.{{ signup_domain }}</span>
									</div>
								</div>
								<div class="availability">
									<span class="availability-status hidden"><i class="octicon octicon-check"></i><span></span></span>
									<span class="availability-spinner small text-muted hidden">checking...</span>
								</div>
								<p class="validation-message small"></p>
							</div>

							<div class="form-group row">
								<div class="col-md-6">
									<p class="help-block">First Name</p>
									<input type="text" name="first_name" class="form-control">
									<p class="validation-message"></p>
								</div>

								<div class="col-md-6">
									<p class="help-block">Last Name</p>
									<input type="text" name="last_name" class="form-control">
									<p class="validation-message"></p>
								</div>
							</div>
							<div class="form-group">
								<p class="help-block">Your Email</p>
								<input name="email" placeholder="jane_doe@example.com" class="form-control" type="text">
								<p class="validation-message">Please enter a valid email address</p>
							</div>

							<div class="form-group">
								<p class="help-block">Password</p>
								<input type="password" name="passphrase" id="passphrase" class="form-control">
								<span class="password-strength-indicator indicator"></span>
							</div>
							<p class='password-strength-message text-muted small hidden'></p>

							<div class="form-group text-center mb-4 text-muted small">
								<p><input name="agree-checkbox" type="checkbox" aria-label="Accept Terms and Privacy Policy">
								<span>I have read and agree to the <a href="/terms" target="_blank">Terms of Use</a> and </span><a href="/privacy"
										target="_blank">Privacy Policy</a>.</p>
							</div>

							<div class="form-group text-center">
								<button type="button" class="btn btn-primary get-started-button">Get Started</button>
							</div>
						</div>

						<!-- Verify OTP -->
						<div class="verify-otp hide">
								<p>You will receive an OTP at registered email id <strong>{{ email }}</strong>, asking you to verify this
									account request.</p>
								<br>
								<!-- <form class="otp-verification-details" role="form"> -->
								<div class="form-group text-center">
									<input name="otp" placeholder="Please enter OTP here" id='otp' class="form-control" type="text">
								</div>
								<div class="form-group text-center">
									<button class="btn btn-primary btn-request" type="button" style="min-width:250px;">Verify</button><br>
									<button class="btn btn-default btn-resend-otp" type="button" style="min-width:250px; margin-top:10px;">Resend
										OTP</button><br>
								</div>
								<!-- </form> -->
								<hr>
								<b>Note : </b>
								<p class="text-muted">It may take a few minutes before you receive this email.
									If you don't find it, please check your SPAM folder.
								</p>
						</div>

						<!-- Regional Settings/ Accounts Setup Section -->
						<div class="regional-settings hide">
							<div class="form-group">
								<p class="help-block">Country</p>
								<select name="country" class="form-control"></select>
								<p class="validation-message"></p>
							</div>
							<div class="form-group">
								<p class="help-block">What does your organization do?</p>
								<select name="industry_type" class="form-control">
									<option value='Manufacturing'>Manufacturing</option>
									<option value='Services'>Services</option>
									<option value='Retail'>Retail</option>
									<option value='Distribution'>Distribution</option>
									<option value='Education'>Education</option>
								</select>
								<p class="validation-message"></p>
							</div>
							<div class="form-group row">
								<div class="col-md-6">
									<p class="help-block">Currency</p>
									<select name="currency" class="form-control"></select>
								</div>

								<div class="col-md-6">
									<p class="help-block">Language</p>
									<select name="language" class="form-control"></select>
									<p class="validation-message"></p>
								</div>
							</div>

							<div class="form-group">
								<p class="help-block">Timezone</p>
								<select name="timezone" class="form-control"></select>
								<p class="validation-message"></p>
							</div>
							<div class="form-group text-center">
								<button type="button" class="btn btn-primary account-setup-button">Next</button>
							</div>
						</div>

						<!-- Other Meta Details -->
						<div class="other-details hide">
							<div class="form-group">
								<p class="help-block">Company Name</p>
								<input type="text" name="company" class="form-control">
								<p class="validation-message"></p>
							</div>
							<div class="form-group row">
								<div class="col-md-6">
									<p class="help-block">Expected Number of Users</p>
									<input type="number" name="expected_number" class="form-control">
								</div>

								<div class="col-md-6">
									<p class="help-block">Your Designation</p>
									<input type="text" name="designation" class="form-control">
									<p class="validation-message"></p>
								</div>
							</div>

							<div class="form-group">
								<p class="help-block">Where did you hear about ERPNext</p>
								<select name="referral_source" class="form-control">
									<option></option>
									<option value='LinkedIn'>LinkedIn</option>
									<option value='Twitter'>Twitter</option>
									<option value='Recommended by a friend/ colleague'>Recommended by a friend/ colleague</option>
									<option value='Blogs/ Reviews'>Blogs/ Reviews</option>
									<option value='Others'>Others</option>
								</select>
								<p class="validation-message"></p>
							</div>
							<div class="form-group text-center">
								<button type="button" class="btn btn-primary other-settings-button">Next</button>
							</div>
						</div>

						<!-- Subscription Details -->
						<div class="subscription hide">
							<div class="form-group signup-subdomain">
								<p class="help-block">Your Site Name <em class='small text-muted'>(can only contain letters and numbers.)</em></p>
								<div class="input-group">
									<input name="subdomain" placeholder="mycompany" class="form-control" type="text">
									<div class="input-group-append">
										<span class="input-group-text">.{{ signup_domain }}</span>
									</div>
								</div>
								<div class="availability">
									<span class="availability-status hidden"><i class="octicon octicon-check"></i><span></span></span>
									<span class="availability-spinner small text-muted hidden">checking...</span>
								</div>
								<p class="validation-message small"></p>
							</div>

							<div class="form-horizontal-group">
								<!-- TODO: reenable these at the time of choice of subscription at the time of signup -->

								<!-- <div class="form-group" style="margin-right: 15px;"> -->
								<div class="form-group">
									<p class="help-block">Number of Users</p>
									<input name="number_of_users" placeholder="1" class="form-control" type="number">
									<p class="validation-message small">Please enter a valid number of users.</p>
								</div>

								<!-- <div class="form-group">
									<p class="help-block">Subscription Type</p>
									<select name="subscription-type" class="form-control" type="text">
										<option value='Monthly'>Monthly</option>
										<option value='Annual'>Annual</option>
									</select>
								</div> -->
							</div>

							<!-- <div>
								<h5 class="plan-name"></h5>
								<h3 class="text-muted">
									<span class="pricing-symbol"></span>
									<span class="subscription-price"></span>/month
								</h3>
							</div> -->

							{% if is_payment_mandatory %}
							<div class="level subscription-box mt-4 mb-5">
								<div>
									<h6>You're subscribing for</h6>
									<h4 class='text-slim'><span class="plan-name">Business</span></h4>

									<p class="small mb-0">
										<span class="pricing-currency"> </span>
										<span class="monthly-pricing"> </span>
										/ user / month
									</p>
								</div>

								<div>
									<h4><b><span class="pricing-currency">$</span> <span class="total-cost"></span></b></h4>
									<p class="small mb-0">
										<span class="number_of_users">1</span>
										<span class="user-text">user</span>
									</p>
								</div>
							</div>
							{% endif %}

							<div class="form-group text-center">
								<button class="btn btn-primary btn-request" type="button">Proceed
									{% if is_payment_mandatory %}to payment{% endif %}
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<!-- <div class="testimonial-container col-md-6 col-sm-12 py-5">
			<div class="testimonial-card card p-5 m-3 text-left">
					<p class="testimonial-text">"I love ERPNext. I strongly recommend ERPNext to everyone interested in running a successful online business! I could probably go into sales for you. We're loving it."</p>
					- Annora R.
			</div>
		</div> -->

	</div>
</section>

<script>
	{% include "erpnext_com/templates/includes/subscription.js" %}

	window.erpnext_signup = {
		subdomain_placeholder: 'mycompany',
		distribution: 'erpnext'
	}
</script>

<style>
	.password-strength-indicator {
		float: right;
		padding: 15px;
		margin-top: -46px;
		margin-right: -7px;
	}

	.password-strength-message {
		margin-top: -10px;
	}

	.testimonial-text {
		color: black;
		line-height: 1.5em;
		font-size: 1.25rem;
		font-weight: 300;
	}

	.testimonial-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

		{
		% include "templates/styles/card_style.css"%
	}
</style>

{% include "erpnext_com/templates/includes/google_conversion.html" %}