<!-- no-cache -->
<section class='top-section staged-form'>
	<div class='container'>

		<h2 class="mb-4">Get Started with ERPNext</h2>

		<div class="stage-container w-500">
			<div class="stage-line"></div>
			<i class="stage completed"></i>
			<i class="stage"></i>
			<i class="stage"></i>
		</div>

		<div class="stage-names w-500">
			<div class="stage-name small">Personal Info</div>
			<div class="stage-name text-extra-muted small">Subscription</div>
			<div class="stage-name text-extra-muted small">Payment</div>
		</div>

		<div class="missing-domain-msg text-center hidden w-500 mb-4">
			<p class="alert alert-warning"><span class="missing-domain text-primary"></span> does not exist</p>
			<i class="octicon octicon-chevron-down mega-octicon" style="color: #36414C;"></i>
		</div>

		<div class='card w-500 text-left'>
			<div class='card-body'>
				<form class="signup-state-details" role="form">
					<div class="form-group">
						<p class="help-block">Your Name</p>
						<input name="full_name" placeholder="Jane Doe" class="form-control" type="text">
					</div>

					<div class="form-group">
						<p class="help-block">Your Email</p>
						<input name="email" placeholder="jane_doe@example.com" class="form-control" type="text">
						<p class="validation-message">Please enter a valid email address</p>
					</div>

					<div class="form-group">
						<p class="help-block">What does your organization do?</p>
						<select name="email" placeholder="jane_doe@example.com" class="form-control" type="text">
							<option value='Manufacturing'>Manufacturing</option>
							<option value='Sercices'>Services</option>
							<option value='Retail'>Retail</option>
							<option value='Distribution'>Distribution</option>
							<option value='Education'>Education</option>
						</select>
						<p class="validation-message"></p>
					</div>

					<div class="form-group text-center">
						<a class="btn btn-primary" href="/subscription">Subscribe</a>
					</div>

				</form>
			</div>
		</div>

	</div>
</section>

<script>

	frappe.ready(function() {
		console.log('out');
		$('#page-signup, #page-signup-1').find('input[name="email"]').on('change', function() {
			let email = $(this).val();
			if(!valid_email(email)) {
				$(this).closest('.form-group').addClass('invalid');
			} else {
				$(this).closest('.form-group').removeClass('invalid');
			}
		});
	});

	function redirect_to_subscribe(page, plan) {
		frappe.get_route();
		var url = page + '?plan=' + plan;
		// concat existing params to url
		url = url + window.location.search.replace('?', '&');
		window.location.href = url;
	}

</script>

<style>
	{% include "templates/styles/card_style.css" %}
</style>

{% include "erpnext_com/templates/includes/google_conversion.html" %}
