<!-- no-cache -->
<section class='top-section staged-form'>
    <div class='container'>

        <h2 class="mb-4">Get Started with ERPNext</h2>

        <div class="stage-container w-500">
            <div class="stage-line"></div>
            <i class="stage completed"></i>
            <i class="stage completed"></i>
            <i class="stage"></i>
        </div>

        <div class="stage-names w-500">
            <div class="stage-name text-extra-muted small">Personal Info</div>
            <div class="stage-name small">Subscription</div>
            <div class="stage-name text-extra-muted small">Payment</div>
        </div>

        <!-- <h1>Start Your Subscription</h1> -->
        <!-- <p class='lead mb-4'>Start Your Subscription</p> -->

        <div class='card w-500 text-left'>
            <div class='card-body'>
                <form class="signup-state-details" role="form">

                    <div class="form-group signup-subdomain">
                        <p class="help-block">Your Site Name <em class='small text-muted'>(can only contain letters, numbers and hyphens.)</em></p>
                            <div class="input-group">
                                <input name="subdomain" placeholder="mycompany" class="form-control" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text">.erpnext.com</span>
                                </div>
                            </div>
                            <div class="availability">
                                <span class="availability-status hidden"><i class="octicon octicon-check"></i><span></span></span>
                                <span class="availability-spinner small text-muted hidden">checking...</span>
                            </div>
                        <p class="validation-message small"></p>
                    </div>

                    <div class="form-horizontal-group">
                        <!-- TODO: reenable these at the time of choice of subscription at the time of signup -->

                        <!-- <div class="form-group" style="margin-right: 15px;"> -->
                        <div class="form-group">
                            <p class="help-block">Number of Users</p>
                            <input name="number_of_users" placeholder="1" class="form-control" type="number">
                            <p class="validation-message small">Please enter a valid number of users.</p>
                        </div>

                        <!-- <div class="form-group">
                            <p class="help-block">Subscription Type</p>
                            <select name="subscription-type" class="form-control" type="text">
                                <option value='Monthly'>Monthly</option>
                                <option value='Annual'>Annual</option>
                            </select>
                        </div> -->
                    </div>

                    <div class="text-center">
                        <h3 class="text-muted">$<span class="subscription-price">19.99</span>/month</h3>
                        <div>
                            <div>Cancel Anytime</div>
                            <div>All Modules</div>
                            <div>Personalized Support</div>
                            <div>Server and Emails</div>
                            <div>Backup + Redundancy</div>
                            <div>Customization</div>
                            <div>Integrations + API</div>
                        </div>
                    </div>

                    <div class="form-group text-center mt-4">
                        <button class="btn btn-default" type="button">Not ready yet? Try ERPNext over at demo.erpnext.com</button>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-request" type="button">Proceed to Payment</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

<style>
    {% include "templates/styles/card_style.css" %}
</style>

{% include "erpnext_com/templates/includes/google_conversion.html" %}

<script>
    {% include "erpnext_com/templates/includes/subscription.js" %}

    window.erpnext_signup = {
        subdomain_placeholder: 'mycompany',
        distribution: 'erpnext'
    }

    frappe.ready(function() {
        setup_signup($('#page-signup'));
    });
</script>
