{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero %}
{% from "erpnext_com/templates/includes/testimonials_macros.html" import testimonials %}

{% block title %}ERP for Service Business{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}

		<div class="container-fluid bg-whie padd-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						{{ hero("Testimonials") }}
					</div>
				</div>
			</div>
		</div>

		{{ testimonials() }}

		<div class="container-fluid bg-white section-block">
			<div class="container text-center">
				<p class="lead">Trusted by more than 3000 companies across 150 countries.
					<br>
				</p>
				<p>
					<a class="x-large blue-btn button later" href="/signup?plan=Free">
						Sign Up - Free for 1 User</a>
				</p>
				<p>
					<a href="#" class="cl-light-gray">See plans and pricing</a>
				</p>
			</div>
		</div>

		
		<script>
			frappe.ready(function(){
				$(".hero-and-content .container:first").removeClass('container');
			})
		</script>

{% endblock %}


