{% extends "frappe/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero %}
{% from "erpnext_com/templates/includes/testimonials_macros.html" import testimonials %}

{% block title %}ERP for Service Business{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}

		<div class="container-fluid bg-whie padd-0 border-top-1 ">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						{{ hero("Testimonials") }}
					</div>
				</div>
			</div>
		</div>

		{{ testimonials() }}

		<div class="container-fluid bg-white section-block">
			<div class="container text-center">
				<p>
					<a class="x-large blue-btn button later" href="/signup?plan=Free">
						Sign Up - Free for 1 User</a>
				</p>
				<p>
					<a href="#" class="cl-light-gray">See plans and pricing</a>
				</p>
			</div>
		</div>

		
		<script>
			frappe.ready(function(){
				$(".hero-and-content .container:first").removeClass('container');

				$(".toggle-sidebar").click(function(){
					$(".navbar-nav").parent().toggleClass('show');
				});

				$(".view_module").click(function(e){
					e.preventDefault();
					$(this).hide();
					$(".other_module").addClass('show');
				});
			})
		</script>

{% endblock %}

{% block footer %}
    <footer>
        <div class="container">

            <ul class="list-unstyled footer-list">
                <li>
                    <a href="https://erpnext.com">ERPNext</a>
                </li>
                <li>
                    <a href="https://frappe.io">Frappé</a>
                </li>
                <li>
                    <a href="https://frappe.io/blog">Blog</a>
                </li>
                <li>
                    <a href="https://community.erpnext.com/service-providers">Services</a>
                </li>
                <li>
                    <a href="https://erpnext.com/reseller">Reseller</a>
                </li>
                <li>
                    <a href="https://discuss.erpnext.com">Forum</a>
                </li>
                <li>
                    <a href="https://github.com/frappe">GitHub</a>
                </li>
                <li>
                    <a href="https://frappe.io/about">About</a>
                </li>
                <li>
                    <a href="https://frappe.io/about#contact">Contact</a>
                </li>
            </ul>
            <div class="copyright">
                <p>
                    &copy;<span id="year"></span> Frappé Technologies Pvt. Ltd.
                    Content licensed under
                    <a class="underline" href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">
						CC-BY-SA 3.0</a>. Read the <a href="https://erpnext.com/terms" class="underline">terms of use</a>.
                </p>
            </div>
        </div>

		<div class="row" style="padding-bottom: 50px;">
			<div class="col-sm-12 text-center">
				<p>
				<b><a href="https://erpnext.com/conf/2017-eu" class="cl-blue">
				Register for the ERPNext Conference Europe 2017 on March 17-18, Frankfurt
				<i class="octicon octicon-arrow-small-right hidden-xs"></i>
				</a></b>
				</p>
			</div>
		</div>
	</footer>

{% endblock %}



