{% extends "frappe_theme/templates/base.html" %}
{% from "erpnext_com/templates/includes/macros.html" import hero, feature, testimonial %}

{% block title %}VAT Ready ERP{% endblock %}

{% block head_include %}
	 <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{{ hero("VAT Ready ERP",
		"For UAE and Saudi Arabia Tax Requirements",
		"/assets/erpnext_com/images/gcc-vat/hero-tax-invoice-vat.png", False) }}

	{{ feature({
			"title": "Chart of Accounts",
			"desc": "Get preset tax accounts in the Chart of Accounts as per your country's tax requirements.",
			"img": "/assets/erpnext_com/images/gcc-vat/chart-of-accounts.png"
		})
	}}


	{{ feature({
		"title": "Tax Templates",
		"desc": "Predefined Sales and Purchase Taxes templates, ready for applying VAT on your sales and purchase transactions.",
		"img": "/assets/erpnext_com/images/gcc-vat/tax-template.png"
		})
	}}

	{{ feature({
		"title": "Customer and Company TRN",
		"desc": "Update Tax Registration Numbers (TRN) in your suppliers and customers.",
		"img": "/assets/erpnext_com/images/gcc-vat/TRN-tax-id.png"
		})
	}}

	{{ feature({
		"title": "Point Of Sale",
		"desc": "Create retail invoices with VAT included in the Item's price, and shown separately in the print format.",
		"img": "/assets/erpnext_com/images/gcc-vat/UAE-KSA-VAT-POS.png"
		})
	}}

	{{ feature({
		"title": "Itemised Tax Calculation",
		"desc": "Track tax rate applicable in the Item master. Create transactions for items with different tax rates.",
		"img": "/assets/erpnext_com/images/gcc-vat/VAT-itemised-tax.png"
		})
	}}

	{{ feature({
		"title": "Sales Invoice",
		"desc": "Issue VAT-compliant Sales Invoice to your customers in Simplified or Detailed formats.",
		"img": "/assets/erpnext_com/images/gcc-vat/detailed-tax-invoice.png"
		})
	}}

	{{ testimonial("Konrad Schwitter, OfficeOne", 
	"<strong>VAT is fully implemented!</strong> 
	I want to thank you guys very much for all the support and patience you had with me.Once more I’m fully 
	convinced with your leading edge product but even more important the people behind it.
	", "/assets/erpnext_com/images/testimonials/konrad.png") }}


	{% include("erpnext_com/templates/includes/industry_footer.html") %}
{% endblock %}

