{% extends "frappe_theme/templates/base.html" %}

{% block content %}

<section class='top-section'>
	<div class='container'>
		<h1>Frequently Asked Questions</h1>
		<div class='text-left'>
			<p class="mt-5">
				<h5>How is the fees calculated for the number of users?</h5>
				You only pay for the number of System users in your account. These are the users who can access the core modules of the ERP and not just portal views.<br><br> 
                
                A system user is generally someone with system roles like manager in Sales/Purchase/Manufacturing/HR, Leave Approver, Employee, Auditor, etc. These roles are assigned from the user's settings page.
			</p>
			<p class="mt-5">
                <h5>What am I paying for here?</h5>
                <ul>
                    <li>Hosting, backups, and storage managed by us.</li>
                    <li>Priority functional support by the team that made ERPNext.</li>
                    <li>Your own subdomain (with a choice of accessing via your custom domain).</li>
                    <li>Bug Fixing guarantee.</li>
                </ul>
			</p>
			<p class="mt-5">
				<h5>I want to host ERPNext on my own server but need your support. Is this possible?</h5>
				Yes! We do provide support for self-hosted instances as well. Check out our <a href="/support">support plan</a> for more details.
			</p>
			<p class="mt-5">
				<h5>How to proceed with the subscription payment?</h5>
                You can pay for your ERPNext account from the application itself! Go to <b>My Account > Upgrade</b>.
                <div> <!--class="col-sm-12 text-center mar-t-40"> -->
                    <img src="/assets/erpnext_com/images/subscribe.gif" class="img-responsive"
                        alt="ERPNext Subscription GIF" style="padding-top: 10px; padding-bottom: 17px; width:800px; margin:auto;">
                </div>
                You can pay for your subscription via PayPal or Credit card. If not, there's always Wire Transfer! Details for the same can be found <a href="/pricing/payment">here</a>.                
			</p>
			<p class="mt-5">
				<h5>Do I need to have a Paypal Account for subscription?</h5>
				We use PayPal as our payment gateway to handle international subscriptions. You do not need to have a PayPal account for continuing with the subscription.
			</p>
			<p class="mt-5">
				<h5>I am running out of storage space/need to add more users. How do I go about doing so?</h5>
				You can add more space/users from within your account. Just go to <b>My Account > Upgrade > Purchase Add-ons</b>.<br><br>

                You can also upgrade your current plan in the same manner.<br><br>

                <div> <!--class="col-sm-12 text-center mar-t-40"> -->
                    <img src="/assets/erpnext_com/images/upgrade.gif" class="img-responsive" alt="ERPNext Upgrade GIF" style="padding-top: 10px; padding-bottom: 17px; width:800px; margin:auto;">
                </div>
			</p>
			<p class="mt-5">
                <h5>I have already subscribed and I want to pay for the next month, however I don’t see a payment option, how so?</h5>
                If you’ve paid via credit card or paypal for your subscription, the next payment will be auto-debited. In case there is an issue, get in touch with our <a href="mailto:support@erpnext.com">support team</a>.
			</p>
			<p class="mt-5">
				<h5>Is the cost of implementation covered in the subscription plan?</h5>
				The subscription plan covers support and hosting cost. You can avail implementation services by opting for a consultation plan or by contacting an <a href="/partners">ERPNext Partner</a>.
			</p>
			<p class="mt-5">
				<h5>I’m an Indian user and would like to subscribe using my Debit Card. Is this possible?</h5>
				Currently, recurring payments are allowed on Mastercard and Visa network cards issued by ICICI Bank, Kotak Mahindra Bank, Citibank and Canara Bank, provided the customer authorizes the first transaction through a normal Two-Factor Authentication/3DSecure flow.
			</p>
			<p class="mt-5">
				<h5>What happens to my data after subscription?</h5>
                Your account is not reset after subscription and the data will remain as is. In case you would like to delete all transactions, you can view <a href="/docs/user/manual/en/setting-up/articles/delete-a-company-and-all-related-transactions">this link</a>.
                <br>
                <br>
                If you would like to completely reset your account, contact our <a href="mailto: support@erpnext.com">support team</a>.
            </p>
            <p class="mt-5">
                    Have more questions for us? Drop an email to <a href="mailto: hello@eprnext.com">hello@eprnext.com</a>.</p>
		</div>
	</div>
</section>

{% endblock %}