{% from "erpnext_com/templates/includes/macros.html" import hero, render_plan %}
<div class="container-fluid bg-white padd-0">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 erpnext-pricing page-padding text-center">
				<h1 class="main-heading">Take Full Control of Your Business</h1>
				<p class="p">Start with a <b>free 30 day trial</b> now and upgrade to a <br>premium plan with more users & storage and priority support.<br class="hidden-xs">
				</p>
				<br>
				<div class="row erpnext-paid-plans">
					{% for plan in plans %}
					<div class="col-sm-4">
						<div class="plan">
							<div class="top-section text-center plan-head">
								<p class="bold">{{ plan.name }}</p>
								<h1 class="h1">{{ plan.price }}</h1>
								<p>{{ plan.info }}</p>
							<div class="trial">
								<a class="btn btn-primary" {{ plan.ctalink }}>{{ plan.cta }}</a>
							</div>
							</div>
							<div class="bottom-section">
								{% for feature in plan.features %}
								<p><span class="indicator green">{{ feature }}</span></p>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<p style="margin-top: 20px;">
				<a href="/pricing/payment"><b>Payment Options</b></a>
				<br>
				</p>
				<p>
				<a href="/benefits" style="margin-bottom: 10px; display: inline-block">
					<b>Why choose ERPNext Hosting?</b>
				</a>
				<br>
				<a href="/compare">
					<b>Compare with other applications</b>
				</a>
				</p>
				</br></br>
				<a class="large blue button" href="https://frappe.erpnext.com/request-a-demo">Request A Demo</a>
			</div>
			<hr class="col-sm-12">
			<div class="col-sm-12 page-padding text-center">
				<h1 class="h2">Self-Hosted</h1>
				<p class="p">
					ERPNext is open source and licenced under GNU GPL v3.<br>
					It's free to use on your own server.
				</p>
				<br>
				<a class="large blue button" style="margin: 5px" href="https://github.com/frappe/erpnext" target="_blank">Github</a>
				<a class="large blue button" style="margin: 5px" href="/download">Download VM</a>
				<a class="large blue button" style="margin: 5px" href="https://github.com/frappe/bench" target="_blank">Install</a>
			</div>
			<hr class="col-sm-12">
			<div class="col-sm-12 page-padding text-center">
				<h1 class="h2">Support for Self-Hosted</h1>
				<p class="lead">
					Installation, Upgrade and Functional support on your self hosted ERPNext instance.
				</p>
				<br>
				<a class="large blue button" href="/pricing/support">Learn More</a>
			</div>

			<hr class="col-sm-12">
			<div class="col-sm-12 page-padding text-center">
				<h1 class="h2">Paid Feature Development</h1>
				<p class="p">
					Missing a feature in ERPNext that you badly need?<br> Jump up its priority by sponsoring the feature.
				</p>
				<br>
				<a class="large blue button" style="margin: 5px" href="/pricing/paid-feature-development" target="_blank">Learn More</a>
			</div>
		</div>

	</div>
</div>
<script>
	function redirect_to_signup(page, plan) {
		var url = page + '?plan=' + plan;
		// concat existing params to url
		url = url + window.location.search.replace('?', '&');
		window.location.href = url;
	}
</script>
