{% extends "frappe/templates/base.html" %}

{% block favicon %}
    <link rel="icon" href="{{ favicon }}">
    <link rel="shortcut icon" href="{{ favicon }}">
{% endblock %}

{% block head_include %}
    {% include "templates/includes/typekit.html" %}
    <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
    <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
    <style>{% include "templates/includes/custom.css" %}</style>
{% endblock %}

{% block content %}
	<div class="container-fluid bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1> Build a profitable service business using ERPNext </h1>
					<a class="x-large blue button later" href="/signup?plan=Free">Sign Up — Free for 1 User</a>
					<div class="row">
						<div class="col-md-12">
							<img src="/assets/erpnext_com/images/lp/dashboard.jpg" class="img-responsive" alt="erpnext dashboard" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
