{% extends "frappe/templates/base.html" %}

{% block title %} ERPNEXT {% endblock %}

{% block head_include %}
	<link type="text/css" href="/assets/erpnext_com/css/lp_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}

		<div class="container-fluid bg-blue padd-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center cl-white mar-t-50"> Build a profitable service business using ERPNext </h1>
						<p class="text-center mar-t-50 mar-b-50">
							<a class="x-large white-btn button later" href="/signup?plan=Free">Sign Up — Free for 1 User</a>
						</p>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<img src="/assets/erpnext_com/images/lp/dashboard.png" class="img-responsive" alt="erpnext dashboard" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="h2">Projects and Time tracking</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
					<div class="col-md-6">
						<h2 class="h2">Billing & Invoicing</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="h2">HR, Leave & Payroll</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
					<div class="col-md-6">
						<h2 class="h2">CRM</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="h2">Customer Support and Claims</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
				</div>
			</div>
		</div>

		<script>
			frappe.ready(function(){
				$(".hero-and-content .container:first").removeClass('container');
			})
		</script>

{% endblock %}

		

