{% extends "frappe/templates/base.html" %}

{% block title %} ERPNEXT {% endblock %}

{% block head_include %}
	<link type="text/css" href="/assets/erpnext_com/css/lp_theme.css" rel="stylesheet">
{% endblock %}

{% block content %}

		<div class="container-fluid bg-blue padd-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center cl-white mar-t-50 fnt-34"> Build a profitable service business using ERPNext </h1>
						<p class="text-center mar-t-50 mar-b-50">
							<a class="x-large white-btn button later" href="/signup?plan=Free">Sign Up — Free for 1 User</a>
						</p>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<img src="/assets/erpnext_com/images/lp/dashboard.png" class="img-responsive" alt="erpnext dashboard" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="h2">Projects and Time tracking</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-gray section-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
					<div class="col-md-6">
						<h2 class="h2">Billing & Invoicing</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="h2">HR, Leave & Payroll</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-gray section-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
					<div class="col-md-6">
						<h2 class="h2">CRM</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="h2">Customer Support and Claims</h2>
						<p class="p">
							Easily create projects, define and allocate tasks. Make systematic time log entries for work done against Tasks. Bill your customers using time logs.
						</p>
						<p class="p">
							Define and Allocate Task. Track employee productivity by Timesheet created against Tasks and Projects.
						</p>
						<p class="p">
							Your earnings will improve once you stay on top of your workload and capacity.
						</p>
					</div>
					<div class="col-md-6">
						<img src="/assets/erpnext_com/images/lp/screen.png" class="img-responsive" alt="erpnext screen" />
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-white section-block">
			<div class="container">
				<h2 class="text-center h2">Trusted by users across 150+ countries</h2>
				<div class="row">
					<div class="col-md-8">
						<p class="p">
							I've been spending the past few days scouring the entire Internet looking for small business ERPs.I'm a professional accountant with SAP experience and I've been trying out demos of various ERP products

						</p>
						<p class="p">
							I have to say I am blown away by ERPNext. It's ridiculously fast, extremely simple, incredible functionalities in all areas imaginable, etc. And then I see the price and I'm scratching my head.
						</p>
						<p class="p">
							This seems too good to be true and I'm pretty much done analysing at this point.
						</p>
					</div>
					<div class="col-md-4">
						<img src="/assets/erpnext_com/images/lp/user.jpg" class="img-responsive img-circle" />
						<p class="testimonial_name">
							 Raphael D. Groulx
						</p>
					</div>
				</div>
				<p class="text-center mar-t-50">
					<a class="x-large blue-btn button later" href="/signup?plan=Free">What people say about ERPNext</a>
				</p>
			</div>
		</div>

		<div class="container-fluid bg-white section-block">
			<div class="container">
				<h2 class="text-center h2">Trusted by users across 150+ countries</h2>
				<div id="icon-grid"> 

					<div class="case-wrapper"> 
						<div class="app-icon">
							<svg class="octicon octicon-package" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
								<path fill-rule="evenodd" d="M1 4.27v7.47c0 .45.3.84.75.97l6.5 1.73c.16.05.34.05.5 0l6.5-1.73c.45-.13.75-.52.75-.97V4.27c0-.45-.3-.84-.75-.97l-6.5-1.74a1.4 1.4 0 0 0-.5 0L1.75 3.3c-.45.13-.75.52-.75.97zm7 9.09l-6-1.59V5l6 1.61v6.75zM2 4l2.5-.67L11 5.06l-2.5.67L2 4zm13 7.77l-6 1.59V6.61l2-.55V8.5l2-.53V5.53L15 5v6.77zm-2-7.24L6.5 2.8l2-.53L15 4l-2 .53z"></path>
							</svg>
						</div> 
						<div class="case-label ellipsis"> 
							
							<span class="case-label-text">Item</span> 
						</div> 
					</div>

					<div class="case-wrapper"> 
						<div class="app-icon">
							<svg class="octicon octicon-package" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
								<path fill-rule="evenodd" d="M1 4.27v7.47c0 .45.3.84.75.97l6.5 1.73c.16.05.34.05.5 0l6.5-1.73c.45-.13.75-.52.75-.97V4.27c0-.45-.3-.84-.75-.97l-6.5-1.74a1.4 1.4 0 0 0-.5 0L1.75 3.3c-.45.13-.75.52-.75.97zm7 9.09l-6-1.59V5l6 1.61v6.75zM2 4l2.5-.67L11 5.06l-2.5.67L2 4zm13 7.77l-6 1.59V6.61l2-.55V8.5l2-.53V5.53L15 5v6.77zm-2-7.24L6.5 2.8l2-.53L15 4l-2 .53z"></path>
							</svg>
						</div> 
						<div class="case-label ellipsis"> 
							
							<span class="case-label-text">Item</span> 
						</div> 
					</div>

					<div class="case-wrapper"> 
						<div class="app-icon">
							<svg class="octicon octicon-package" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
								<path fill-rule="evenodd" d="M1 4.27v7.47c0 .45.3.84.75.97l6.5 1.73c.16.05.34.05.5 0l6.5-1.73c.45-.13.75-.52.75-.97V4.27c0-.45-.3-.84-.75-.97l-6.5-1.74a1.4 1.4 0 0 0-.5 0L1.75 3.3c-.45.13-.75.52-.75.97zm7 9.09l-6-1.59V5l6 1.61v6.75zM2 4l2.5-.67L11 5.06l-2.5.67L2 4zm13 7.77l-6 1.59V6.61l2-.55V8.5l2-.53V5.53L15 5v6.77zm-2-7.24L6.5 2.8l2-.53L15 4l-2 .53z"></path>
							</svg>
						</div> 
						<div class="case-label ellipsis"> 
							
							<span class="case-label-text">Item</span> 
						</div> 
					</div>

					<div class="case-wrapper"> 
						<div class="app-icon">
							<svg class="octicon octicon-package" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
								<path fill-rule="evenodd" d="M1 4.27v7.47c0 .45.3.84.75.97l6.5 1.73c.16.05.34.05.5 0l6.5-1.73c.45-.13.75-.52.75-.97V4.27c0-.45-.3-.84-.75-.97l-6.5-1.74a1.4 1.4 0 0 0-.5 0L1.75 3.3c-.45.13-.75.52-.75.97zm7 9.09l-6-1.59V5l6 1.61v6.75zM2 4l2.5-.67L11 5.06l-2.5.67L2 4zm13 7.77l-6 1.59V6.61l2-.55V8.5l2-.53V5.53L15 5v6.77zm-2-7.24L6.5 2.8l2-.53L15 4l-2 .53z"></path>
							</svg>
						</div> 
						<div class="case-label ellipsis"> 
							
							<span class="case-label-text">Item</span> 
						</div> 
					</div>

					<div class="case-wrapper"> 
						<div class="app-icon">
							<svg class="octicon octicon-package" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
								<path fill-rule="evenodd" d="M1 4.27v7.47c0 .45.3.84.75.97l6.5 1.73c.16.05.34.05.5 0l6.5-1.73c.45-.13.75-.52.75-.97V4.27c0-.45-.3-.84-.75-.97l-6.5-1.74a1.4 1.4 0 0 0-.5 0L1.75 3.3c-.45.13-.75.52-.75.97zm7 9.09l-6-1.59V5l6 1.61v6.75zM2 4l2.5-.67L11 5.06l-2.5.67L2 4zm13 7.77l-6 1.59V6.61l2-.55V8.5l2-.53V5.53L15 5v6.77zm-2-7.24L6.5 2.8l2-.53L15 4l-2 .53z"></path>
							</svg>
						</div> 
						<div class="case-label ellipsis"> 
							
							<span class="case-label-text">Item</span> 
						</div> 
					</div>

					<div class="case-wrapper"> 
						<div class="app-icon">
							<svg class="octicon octicon-package" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
								<path fill-rule="evenodd" d="M1 4.27v7.47c0 .45.3.84.75.97l6.5 1.73c.16.05.34.05.5 0l6.5-1.73c.45-.13.75-.52.75-.97V4.27c0-.45-.3-.84-.75-.97l-6.5-1.74a1.4 1.4 0 0 0-.5 0L1.75 3.3c-.45.13-.75.52-.75.97zm7 9.09l-6-1.59V5l6 1.61v6.75zM2 4l2.5-.67L11 5.06l-2.5.67L2 4zm13 7.77l-6 1.59V6.61l2-.55V8.5l2-.53V5.53L15 5v6.77zm-2-7.24L6.5 2.8l2-.53L15 4l-2 .53z"></path>
							</svg>
						</div> 
						<div class="case-label ellipsis"> 
							
							<span class="case-label-text">Item</span> 
						</div> 
					</div>

				</div>

			</div>
		</div>



		<script>
			frappe.ready(function(){
				$(".hero-and-content .container:first").removeClass('container');
			})
		</script>

{% endblock %}

		

