<!-- IMPORTANT: If you are changing any style for the following footer message -->
<!-- You need to change the macro in frappe_theme/templates/includes/docs.html as well -->
<section class="section-md section-bg footer-message">
		<div class="container text-center">
			<p style="max-width: 75%; margin-left: auto; margin-right: auto; color: #718096; line-height: 1.5; font-weight: 400; font-size: 1.25rem;">ERPNext is used by more than 5000 companies across the world</p>
			<div class="mt-4">
				<a class="btn btn-primary" href="/signup?plan=P-Standard#personal-details">Start Free Trial</a>
				<a class="btn btn-secondary" href="/contact-form">Contact Us</a></h4>
			</div>
		</div>
</section>
<footer class="bg-dark pt-4">
	<div class="container px-5 px-sm-3">
	<div class="row my-3 my-sm-5">
		<div class="col-sm-3 col-6">
			<h6 class="text-light">Solutions</h6>
			<ul class="list-unstyled">
				<li class="mb-2">
					<a class="text-muted" href="/manufacturing">Manufacturing</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/services">Services</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/distribution">Distribution</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/retail">Retail</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/education">Education</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/healthcare">Healthcare</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/agriculture">Agriculture</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/non-profit">Non Profit</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3 col-6">
			<div>
				<h6 class="text-light">Services</h6>
				<ul class="list-unstyled">
					<li class="mb-2">
						<a class="text-muted" href="/pricing">Cloud</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="/support">Support</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="/mobile">Mobile Apps</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="/find-my-login">My ERPNext Login</a>
					</li>
				</ul>
			</div>
			<div class="mt-4">
				<h6 class="text-light">Releases</h6>
				<ul class="list-unstyled">
					<li class="mb-2" style="margin-left: -19px;">
						<a class="text-muted indicator blue"
							href="/version-12" target="_blank">
							Version 12</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="http://erpnext.org/releases/version-11" target="_blank">Version 11</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3 col-6">
			<h6 class="text-light">ERPNext</h6>
			<ul class="list-unstyled">
				<li class="mb-2">
					<a class="text-muted" href="https://github.com/frappe/erpnext" target="_blank" >GitHub</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="https://erpnext.org"
						target="_blank">Foundation</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="/docs/">Documentation</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="https://www.youtube.com/c/erpnext" target="_blank" >YouTube</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="https://discuss.erpnext.com"
						target="_blank" >Forum</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="https://erpnext.org/stories">Stories</a>
				</li>
				<li class="mb-2">
					<a class="text-muted" href="https://erpnext.org/conf/2018">Conference</a>
				</li>
				<li class="mb-2">
						<a class="text-muted" href="/security">Security</a>
					</li>
				</ul>
		</div>
		<div class="col-sm-3 col-6" style='display: flex; flex-direction: column; justify-content: space-between;'>
			<div>
				<h6 class="text-light">About</h6>
				<ul class="list-unstyled">
					<li class="mb-2">
						<a class="text-muted" href="/about">
							ERPNext</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="https://frappe.io" target='_blank'>
							Frappe</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="https://frappe.io/about" target='_blank'>
							Team</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="/contact">
							Contact</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="/terms">Terms</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="/privacy">Privacy</a>
					</li>
				</ul>
			</div>
			<div>
				<h6 class="text-light">Social</h6>
				<ul class="list-unstyled">
					<li class="mb-2">
						<a class="text-muted" href="https://twitter.com/erpnext" target="_blank">Twitter</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="https://www.facebook.com/ERPNext/" target="_blank">Facebook</a>
					</li>
					<li class="mb-2">
						<a class="text-muted" href="https://medium.com/frappé-thoughts/" target="_blank">Medium</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
			<div class="py-3 text-muted">
				<span>&copy; <span id="year"></span> Frappe <span class="mr-2"></span>|<span class="ml-2"></span> <a class="text-muted"href="/disclaimer" target="_blank">Disclaimer</a> and <a class="text-muted"href="/terms" target="_blank">Terms of Use</a>.</span>
			</div>
	</div>
</footer>
