body {
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
	color: @text-light;
	text-rendering: optimizeLegibility !important;
	line-height: 1.5em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.cl-white {
	color: #fff;
}

.navbar-icon {
    width: 24px;
    margin-right: 7px;
    margin-top: -3px;
}

.bg-blue {
	background : #5f5fce;
}

.padd-0 {
	padding: 0;
}
.white-btn {
	background: #fff;
	color: #7574ff;
}