body {
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
	color: @text-light;
	text-rendering: optimizeLegibility !important;
	line-height: 1.5em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.bg-blue {
	background : #5f5fce;
}


p {
	color: #000;
}