body {
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
	color: @text-light;
	text-rendering: optimizeLegibility !important;
	line-height: 1.5em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 12px 9px;
    line-height: 1;
    text-decoration: none;
}

.x-large.button {
    font-size: 1.6em;
    padding: 16px 40px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.cl-white {
	color: #fff;
}

.fnt-34 {
	font-size: 34px;
}

.navbar-icon {
    width: 24px;
    margin-right: 7px;
    margin-top: -3px;
}

.bg-blue {
	background : #5f5fce;
}
.bg-white {
	background: #fff;
}
.bg-gray {
	background: #f9f9f9;
}

.padd-0 {
	padding: 0;
}
.white-btn {
	background: #fff;
	color: #7574ff;
	border: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    font-size: 1em;
}
.white-btn:hover {
	text-decoration: none;
	background: #7574ff;
	color: #fff;
}

.blue-btn {
	background: #7574ff;
	color: #fff;
	border: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    font-size: 1em;
}
.blue-btn:hover {
	text-decoration: none;
	background: #7574ff;
	color: #fff;
}

.mar-t-50 {
	margin-top: 50px;
}
.mar-b-50 {
	margin-bottom: 50px;
}

.h2 {
	font-size: 26px;
	color: #36414c;
	line-height: 30px;
	margin-bottom: 35px;
}
.p {
	font-size: 18px;
    color: #6c7680;
    line-height: 30px;
    margin-bottom: 35px;
}
.section-block {
	padding: 75px 0;
}
.testimonial_name {
	color: #36414c;
	font-size: 23px;
}
.case-wrapper {
    position: relative;
    margin: 0px;
    float: left;
    width: 138px;
    height: 140px;
}
.app-icon {
    padding: 20px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.case-label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #36414c;
    text-align: center;
    margin-top: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
}
