body {
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
	color: @text-light;
	text-rendering: optimizeLegibility !important;
	line-height: 1.5em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 12px 9px;
    line-height: 1;
    text-decoration: none;
}

.x-large.button {
    font-size: 1.6em;
    padding: 16px 40px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.cl-white {
	color: #fff;
}

.fnt-34 {
	font-size: 34px;
}

.navbar-icon {
    width: 24px;
    margin-right: 7px;
    margin-top: -3px;
}

.bg-blue {
	background : #5f5fce;
}
.bg-white {
	background: #fff;
}
.bg-gray {
	background: #f9f9f9;
}

.padd-0 {
	padding: 0;
}
.white-btn {
	background: #fff;
	color: #7574ff;
	border: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

.mar-t-50 {
	margin-top: 50px;
}
.mar-b-50 {
	margin-bottom: 50px;
}

.h2 {
	font-size: 32px;
	color: #36414c;
	line-height: 36px;
	margin-bottom: 35px;
}
.p {
	font-size: 25px;
	color: #6c7680;
	line-height: 36px;
    margin-bottom: 35px;
}
.section-block {
	padding: 75px 0;
}
