/*-------------------------------------

Custom CSS

---------------------------------------*/


body {
    font: 16px/1.4em "omnes-pro", sans-serif;
    font-weight:400;
    color:#36414c;
    letter-spacing:0.2px;
    -webkit-font-smoothing:subpixel-antialiased;
}
h1 {
    font-size:1.5em;
    font-weight:600;
}
p {
    color:#6c7680;
    line-height:1.4em;
}
p.description, p.description a {
    color:#b8c2cc;
    font-size:18px;
    margin:12px 0 0;
    text-decoration: none;
}
p.description a:hover {
    text-decoration: underline;
}
a {
    transition:color 0.3s, border 0.3s, background-color 0.3s;
    text-decoration:underline;
    color:#7575ff;
}
a:hover {
    text-decoration:underline;
    color:#4d4da8;
}
p a {
    color:inherit;
}
p a:hover {
    color:#242d36;
}
.button {
    display: inline-block;
    border-radius:4px;
    padding:7px 12px 9px;
    line-height:1;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
}
.large.button {
    font-size:20px;
    padding:8px 24px 10px;
}
.x-large.button {
    font-size:24px;
    padding:16px 40px;
    border-bottom: 3px solid rgba(0,0,0,0.2)
}
.blue.button {
    color:#fff;
    background:#7575ff;
}
.blue.button:hover {
    background: #5b5be5;
}
.white.button {
    color:#6c7680;
    border:1px solid #e1e9f0;
}
.white.button:hover {
    background:#fafbfc;
}
.nav-bar{
    padding:20px 8px 20px 0;
    border-bottom:1px solid #e1e9f0;
    height:70px;
}
.nav-bar ul, .nav-bar li {
    list-style-type: none;
    display:inline-block;
    padding:0;
    margin:0;
}
.nav-bar .links {
    font-size:14px;
    text-align:right;
    padding-top:4px;
}
.nav-bar .links a {
    color:#8d99a6;
    text-decoration:none;
    margin: 0 0 0 50px;
}
.nav-bar .links a:hover {
    color:#36414c;
}
.nav-bar .links .button {
    border:1px solid #e1e9f0;
}
.nav-bar .links .button:hover {
    background:#fafbfc;
}
.hero {
    padding: 100px 0;
    font-size:24px;
    font-weight:300;
    border-bottom:1px solid #e1e9f0;
    text-align:center;
}
.hero-content {
    font-weight:300;
    margin-top: 12px;
}
.hero-content h1 {
    padding-top:24px;
}
.hero-content p {
    width:80%;
    margin:0 auto 24px;
}
.hero-content p.description {
    margin-top:16px;
}
.group {
   border-bottom:1px solid #e1e9f0;
}
.row.section {
    padding:70px 0 0;
}
.row.section:last-child {
    padding:70px 0;
}
.content {
    padding:24px 40px 0;
}
.small-content {
    text-align: center;
    padding:0 32px;
}
.small-content img {
    width:130px;
    height:130px;
}
.tiny-content {
    margin-bottom:40px;
    font-size:15px;
}
.tiny-content h1 {
    color:#36414c;
}
.tiny-content p {
    margin:6px 0 0;
    color:#858d95;
}
.tiny-content h1 {
    font-size:18px;
    font-weight:400;
}
footer {
    color:#8d99a6;
    font-size:14px;
    text-align:center;
    padding:3px 0;
    border-top:1px solid #e1e9f0;
}
footer h1 {
    font-size:1.42em;
    margin:0;
}
footer p {
    margin:0;
    padding: 2px 0 10px;
    color:#8d99a6;
}
footer ul, footer ul li {
    margin:0;
    padding:0;
    list-style-type: none;
    text-align: center;
}
footer li a {
    display:block;
    width: 150px;
    margin:50px auto 30px;
    text-decoration: none;
    opacity:0.8;
    color:#8d99a6;
}
footer li a.active {
    color:#36414c;
}
footer li a:hover {
    color:#242d36;
    text-decoration: none;
}
footer li a:hover p, footer li a.active p {
    color:#6c7680;
}
footer li a.active p {
    border-bottom: 2px solid #7575ff;
}
.copyright {
    padding-bottom:50px;
}
.container {
    min-width:960px;
}
.center {
    text-align: center;
}
input[type=text], textarea {
    display:inline-block;
    border-radius:4px;
    height:28px;
    border:1px solid #ced5db;
    width:100%;
    padding: 0 8px;
    font-size:14px;
}
input:focus, textarea:focus {
    outline:0;
    box-shadow: 0 0 5px #d8dfe5;
}
/*-------------------------------------

ERP Next

---------------------------------------*/
.erp-next-logo{
    margin:8px 0;
    height:14px;
    width:76px;
}
.erp-hero {
    width: 500px;
    margin: auto;
}
.tabs {
    text-align:center;
}
.tabs ul, .tabs li {
    margin:0;
    padding:0;
    list-style-type: none;
    display:inline-block;
}
.tabs ul {
    margin:0 auto;
}
.tabs li {
    width:64px;
    text-align:center;
    margin:0 16px;
}
.tabs li input {
    background:transparent;
    border:0;
    color:#8d99a6;
    padding-bottom:8px;
    transition:0.5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.tabs li input:focus {
    outline: none;
}
.tabs li input:hover {
    color:#36414c;
}
.tabs li input.active {
    color:#36414c;
    border-bottom: 2px solid #7575ff;
}
.feature {
    text-align:center;
    display:none;
}
.feature p, .feature h1 {
    width:65%;
    margin:0 auto;
}
.feature h1 {
    padding:40px 0 16px;
}
.feature p {
    font-size:18px;
    padding-bottom:24px;
}



/*-------------------------------------

Frappé for Developers

---------------------------------------*/

.developers-hero {
    width:313px;
}
.developers-logo {
    height:19px;
}
.erp-framework {
    width:353px;
}
.get-involved {
    color:#36414c;
    font-size: 18px;
    text-align: center;
}
.get-involved p {
    margin-top:0;
}
.get-involved img {
    width:20px;
    height:20px;
    margin:-3px 10px 0 -5px;
}
.get-involved .button {
    margin: 0 4px;
}
/*-------------------------------------

Frappé

---------------------------------------*/

.frappe-hero {
    width:385px;
}
.frappe-logo {
    height:19px;
}
.open-source {
    text-align:center;
}
.open-source img {
    width:325px;
}
.team-picture {
    text-align: center;
}
.team-picture h1 {
    margin:0 0 40px;
}
.team-description {
    margin:40px 0 60px;
    color:#b8b8ff;
}
.team-description a {
    text-decoration: none;
}
.input-label {
    margin:16px 0 3px;
    color:#8d99a6;
    font-size:14px;
}
#message {
    height:150px;
}
#send {
    display:block;
    text-align:center;
    margin-top:16px;
}
.office-map {
    width:394px;
    margin-top:40px;
}
.contact .content {
    margin-top:-40px;
}
