{% set top_bar_items = [
	{"label": "Industries", "child_items":[
		{"label": "Services", "url": "/services","right": 1},
		{"label": "Manufacturing", "url": "/manufacturing","right": 1},
		{"label": "Retail", "url": "/retail","right": 1},
		{"label": "Distribution", "url": "/distribution","right": 1},
		{"label": "Schools", "url": "/schools","right": 1}
	], "right":1},
	{"label": "Pricing", "url": "/pricing", "right":1},
	{"label": "Manual", "url": "http://erpnext.org/docs/user/manual/en/", "right":1,
		"target": "target=_blank"},
	{"label": "Blog", "url": "https://frappe.io/blog", "right": 1, "target":
		"target=_blank"},
] %}

{% if top_bar_items -%}
<ul class="nav navbar-nav navbar-left">
	{%- for page in top_bar_items -%}
	{% if not page.parent_label and not page.right -%}
	{% include "templates/includes/navbar/navbar_link.html" %}
	{%- endif -%}
	{%- endfor %}
</ul>
{%- endif %}
<ul class="nav navbar-nav navbar-right">
	{%- for page in top_bar_items -%}
	{% if not page.parent_label and page.right -%}
	{% include "templates/includes/navbar/navbar_link.html" %}
	{%- endif -%}
	{%- endfor %}
	{% include "templates/includes/navbar/navbar_login.html" %}
</ul>
