{% set is_schools = pathname=="schools" or pathname.startswith("schools/") %}
{% if is_schools %}

{% set top_bar_items = [
	{"label": "Pricing", "url": "/schools/pricing", "right":1},
	{"label": "Features", "url": "/schools/features", "right":1},
	{"label": "Docs", "url": "http://frappe.github.io/schools", "right":1},
] %}

{% else %}

{% set top_bar_items = [
	{"label": "Pricing", "url": "/pricing", "right":1},
	{"label": "Features", "url": "/features", "right":1},
	{"label": "Docs", "url": "http://frappe.github.io/erpnext", "right":1},
	{"label": "Blog", "url": "https://frappe.io/blog", "right":1},
	{"label": "Industry", "child_items":[
											{"lable": "Services", "url": "/service","right": 1},
											{"lable": "Manufacturing", "url": "/service","right": 1},
											{"lable": "Retail", "url": "/service","right": 1},
											{"lable": "Distribution", "url": "/service","right": 1},
											{"lable": "Schools", "url": "/service","right": 1}
										]
	}
] %}

{% endif %}

{% if top_bar_items -%}
<ul class="nav navbar-nav navbar-left">
	{%- for page in top_bar_items -%}
	{% if not page.parent_label and not page.right -%}
	{% include "templates/includes/navbar/navbar_link.html" %}
	{%- endif -%}
	{%- endfor %}
</ul>
{%- endif %}
<ul class="nav navbar-nav navbar-right">
	{%- for page in top_bar_items -%}
	{% if not page.parent_label and page.right -%}
	{% include "templates/includes/navbar/navbar_link.html" %}
	{%- endif -%}
	{%- endfor %}
	{% include "templates/includes/navbar/navbar_login.html" %}
</ul>
