{% extends "templates/base.html" %}
{% block title %}ERPNext Version 12{% endblock %}


{% macro card(title, body, link) %}
<div class="col-sm-4 mb-4">
  <a href='{{ link }}' class="h-100 card">
	  <div class="card-body d-flex flex-column justify-content-between">
	  	<div>
			<h5>{{ title }}</h5>
	    	<div class="card-text mb-3">{{ body }}</div>
		</div>
	    <span class="text-muted">Details</span>
	  </div>
  </a>
</div>
{% endmacro %}

{% macro section(title, image, description, section_class) %}
<section class="section {{ section_class }}">
	<div class="container">
		<h2>{{ title }}</h2>
		<p class="text-muted" style="font-size: 1.25em;">{{ description }}</p>
		<img class="card mt-2" src="/assets/erpnext_com/img/version-12/{{ image }}.png" alt="{{ title }}"/>
	</div>
</section>
{% endmacro %}

{% macro feature(title, description, link) %}
<div class="col-md-6 mb-5">
	<div class="d-flex flex-column justify-content-between h-100">
		<div>
			<h3>{{ title }}</h3>
			<p class="text-muted">{{ description }}</p>
		</div>
		{% if link %}
		<a href="{{ link }}" class="text-muted">
			Read More
			<span class="hover-right">&#8594;</span>
		</a>
		{% endif %}
	</div>
</div>
{% endmacro %}


{% block content %}
<section class="top-section">
	<div class='container'>
		<h1>ERPNext Version 12</h1>
		<p class="lead">With Refreshed UI, Dashboards and over 100 new features enhancements, it is our greatest release yet.<p>
		<a class="btn btn-primary mt-4" href="/version-12/release-notes">Read Release Notes</a></p>
		<div>
			<a href="https://github.com/frappe/erpnext/" target="_blank" class="text-muted">View on Github</a>
		</div>
		<!-- <div>
			<a href="https://twitter.com/intent/tweet?text=%40ERPNext%20version%2012%20released%20with%20dashboards%2C%20refreshed%20ui%2C%20accounting%20dimensions%20and%20much%20more.%20https%3A%2F%2Ferpnext.com%2F12%20" target="_blank" class="text-muted">Share on Twitter</a>
		</div> -->
	</div>
</section>
{% set hero_features = [
		{
			"title": "New Desk UI",
			"image": "desk",
			"description": "The new Desk is built from first principles, with information heirarchy in mind. It is more accessible and navigable."
		},
		{
			"title": "Dashboards",
			"image": "dashboards",
			"description": "Create custom dashboards for everything you want to measure. Monitor and visualise your growth."
		},
		{
			"title": "Website",
			"image": "website",
			"description": "The new website modules allows creation of custom themes with improved SEO and page speed."
		},
		{
			"title": "Learning Management System",
			"image": "lms",
			"description": "Publish your programs online, host quizzes for your students to learn and track their progress."
		}
	]
%}

{% for feature in hero_features %}
	{{ section(feature.title, feature.image, feature.description, "section-bg" if loop.index%2!=0 else "") }}
{% endfor %}

{% set small_features = [
	{
		"title": "Keyboard Navigation",
		"description": "Users can now navigate all of ERPNext through the keyboard, allowing quicker access to workflows, documents and other actions.",
		"link": "/docs/user/manual/en/using-erpnext/articles/keyboard-shortcuts"
	},
	{
		"title": "Accounting Dimensions",
		"description": "You can now create you own configurable dimensions and use them across accounting transactions and reports.",
		"link": "/docs/user/manual/en/accounts/accounting-dimensions"
	},
	{
		"title": "Automation 🤖",
		"description": "Automation features like auto-assignment, auto attendace, milestones, auto-repeat doctype.",
		"link": "/docs/user/manual/en/setting-up/automation"
	},
	{
		"title": "Raw Printing",
		"description": "Now you can print barcodes, labels and receipts using thermal printers directly from ERPNext",
		"link": "/docs/user/manual/en/setting-up/print/raw-printing"
	},
	{
		"title": "Energy Points",
		"description": "With energy points users can gain points based on configurable rules on actions like finishing tasks, closing leads, etc.",
		"link": "/docs/user/manual/en/setting-up/energy-point-system"
	},
	{
		"title": "Quality Management",
		"description": "Maintain excellence, comply with ISO standards and ensure transparency.",
		"link": "/docs/user/manual/en/quality-management/"
	}
]
%}

<section class="section section-bg">
	<div class="container">
		<div class="row">
			{% for item in small_features %}
			{{ feature(item.title, item.description, item.link or "") }}
			{% endfor %}
		</div>
		<div class="text-center">
			<a class="btn btn-primary mt-4" href="/version-12/release-notes">Read Release Notes</a></p>
		</div>
	<div class="container">
</section>

{% endblock %}
