{% macro landing_page(domain, title, subtitle, feature_title, feature_subtitle, features, show_form) %}
<div class="{{ 'py-3' if show_form else 'top-section' }}">
	<div class='container'>
		{% if show_form %}
		<div class="row">
			<div class="col-sm-7 top-section text-left">
		{% endif %}
				<h1>{{ title }}</h1>
				<p class='lead mx-0 mw-100' >{{ subtitle }}</p>
			{% if not show_form %}
				<a href='/contact-form' class='btn btn-primary btn-lg'>
					Contact Sales
				</a>
			{% else%}
			</div>
			<div class="col-sm-5">
				<div class="card //bg-dark">
					<div class="card-body">
						<h6 class="text-muted">Contact us for</h6>
						<h4 class="card-title //text-white">Free Consultation</h4>
						<form>
							<div class="form-group">
								<label class="mb-1" style="padding-right: 0px;">Name</label>
								<input type="text" required="true" class="form-control bold" maxlength="140" data-fieldname="full_name" placeholder="">
							</div>
							<div class="form-group">
								<label class="mb-1" style="padding-right: 0px;">Email</label>
								<input type="text" required="true" class="form-control bold" maxlength="140" data-fieldname="email" placeholder="">
							</div>
							<div class="form-group">
								<label class="mb-1" style="padding-right: 0px;">Phone Number</label>
								<input type="text" required="true" class="form-control bold" maxlength="140" data-fieldname="number" placeholder="">
							</div>
							<div class="form-group">
								<label class="mb-1" style="padding-right: 0px;">Company</label>
								<input type="text" required="true" class="form-control bold" maxlength="140" data-fieldname="company" placeholder="">
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-primary btn-block">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<section class="section-padding section-bg">
	<div class="container">
		<div class="text-center">
			<h3>{{ feature_title }}</h3>
			<p class='lead'>{{ feature_subtitle }}</p>
		</div>
		<div class='row mt-5'>
			{% for card in features %}
			<div class='col-sm-4 mb-4'>
				<a href='{{ card.path }}' class='card h-100 text-left'>
					<div class='card-body '>
						<h5 class='card-title'>{{ card.title }}</h5>
						{{ card.content }}
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<style>.footer-message { display: none; }</style>
{% endmacro %}