<footer class="bg-dark pt-4">
	<div class="container px-5 px-sm-3">
	<div class="row my-3 my-sm-5 text-center">
		<span class="mx-auto">
			<a href="/" class="text-light">Explore ERPNext Home</a>
		</span>
	</div>
			<div class="py-3 text-muted">
				<span>&copy; <span id="year"></span> Frappe Technologies Private Limited. Read the <a class="text-muted"href="/disclaimer" target="_blank">Disclaimer</a> and <a class="text-muted"href="/terms" target="_blank">Terms of Use</a>.</span>
			</div>
	</div>
</footer>
