{% extends "erpnext_com/templates/web.html" %}

{% block title %}Sign Up for ERPNext{% endblock %}

{% block page_content %}
<!-- no-sidebar -->
<div class="missing-domain-msg hidden text-center">
	<p class="lead" style="font-size: 24px;"><span class="missing-domain text-primary"></span> does not exist</p>
	<i class="octicon octicon-chevron-down mega-octicon" style="color: #36414C;"></i>
</div>

<h1 class="text-center">
	Sign Up &mdash; <span class="plan-message">Free for 1 User</span>
</h1>

<br>
<div class="container" style="max-width: 700px;">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<form role="form">
				<div class="form-group">
					<div class="input-group">
						<input name="subdomain" placeholder="mycompany" class="form-control" type="text">
						<span class="input-group-addon">.{{ frappe.local.conf.domain }}</span>
					</div>
					<p class="help-block">Your subdomain i.e.
						https://<strong class="subdomain-help">mycompany</strong>.{{ frappe.local.conf.domain }}. <br>
						Must contain only letters, no spaces, numbers or special characters.</p>
				</div>

				<div class="form-group">
					<input name="company_name" placeholder="My Company" class="form-control" type="text">
					<p class="help-block">Full Name of your Company</p>
				</div>

				<div class="form-group">
					<input name="full_name" placeholder="Jane Doe" class="form-control" type="text">
					<p class="help-block">Your First and Last Name <em>(will appear in your user id)</em></p>
				</div>

				<div class="form-group">
					<input name="email" placeholder="jane_doe@example.com" class="form-control" type="text">
					<p class="help-block">Your Email Address <em>(your login details will be emailed here)</em></p>
				</div>

				<br>
				<div class="form-group text-center">
					<a class="small blue button btn-request" type="button">Setup My Account</a>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Google Code for Signup Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 1032834481;
    w.google_conversion_label = "JvAUCLX41gEQsZu_7AM";
    w.google_conversion_value = 1.00;
    w.google_conversion_currency = "INR";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    window.google_is_call = true;
    var opt = new Object();
    opt.onload_callback = function() {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  }
  var conv_handler = window['google_trackConversion'];
  if (typeof(conv_handler) == 'function') {
    conv_handler(opt);
  }
}
/* ]]> */
</script>
<script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion_async.js">
</script>

{% endblock %}

{% block script %}
<script>
frappe.ready(function() {
	// button for signup event
	var page = $('#page-signup');
	page.find('.btn-request').off('click').on('click', function() {
		var args = {};
		$.each(page.find("form input"), function(i, input) {
			args[$(input).attr("name")] = $(input).val();
		});


		// all mandatory
		if(!(args.full_name && args.company_name && args.email && args.subdomain)) {
			frappe.msgprint("All fields are necessary. Please try again.");
			return false;
		}

		// email is valid
		if(!valid_email(args.email)) {
			frappe.msgprint('Please enter a valid Email Address.');
			return false;
		}

		// subdomain in one word
		if(args.subdomain.search(/^[a-z0-9][-a-z0-9]*[a-z0-9]$/)===-1) {
			frappe.msgprint("Sub-domain can only contain letters, numbers and hyphens. Please try again.");
			return false;
		}

		var MAX_LENGTH = 20;
		if(args.subdomain.length > MAX_LENGTH) {
			frappe.msgprint("Sub-domain can not have more than " + MAX_LENGTH + " characters.");
			return false;
		}

		// add plan to args
		var plan = get_url_arg('plan');
		if(plan) args.plan = plan;

		args.cmd = "frappe_central.frappe_central.doctype.frappe_account_request.frappe_account_request.sign_up";

		var btn_html = $(".btn-request").html();
		$(".btn-request").prop("disabled", true).html("Sending details...");

        goog_report_conversion()

		// on success, it will show message page!
		$.ajax({
			url: "/",
			data: args,
			type: "POST",
			statusCode: {
				200: function(data, status, xhr) {
					if(xhr.getResponseHeader("X-Page-Name")) {
						frappe.render_json(data);
					}
				}
			}
		}).fail(function(xhr) {
			var data = JSON.parse(xhr.responseText);
			if(data.message) {
				frappe.msgprint(data.message);
			} else {
				var message = data._server_messages ? JSON.parse(data._server_messages).join("\n")
					: "Some error occured. Please try again.";
				frappe.msgprint(message);
			}

			if(data.exc) {
				console.error(JSON.parse(data.exc).join("\n"));
			}

		}).always(function() {
			$(".btn-request").prop("disabled", false).html(btn_html);
		});

		return false;
	});


	// change help description based on subdomain change
	$('[name="subdomain"]').on("keyup", function() {
		$('.subdomain-help').text($(this).val() || "mycompany");
	});

	var query_params = get_query_params();
	if (!query_params.plan) {
		// redirect to pricing page
		window.location.href = "/pricing";
	} else if (query_params.for_mobile_app) {
		// for mobile app singup, hide header and footer
		$("header,footer").addClass("hidden");
	}

	if (["Free", "Free-Solo"].indexOf(query_params.plan)!==-1) {
		page.find(".plan-message").text("Free for 1 User");
	} else {
		page.find(".plan-message").text("Free 30-day Trial");
	}

	$('.domain-missing-msg').addClass("hidden");
	if (query_params.domain) {
		var subdomain = query_params.domain;
		if (subdomain.indexOf(".{{ frappe.local.conf.domain }}")) {
			subdomain = subdomain.replace(".{{ frappe.local.conf.domain }}", "");
		}
		$('[name="subdomain"]').val(subdomain);

		$('.missing-domain').html(query_params.domain);
		$('.missing-domain-msg').removeClass("hidden");
	}
});
</script>
{% endblock %}

{% block style %}
<style>
.form-group {
	margin-bottom: 30px;
}

[data-html-block="header"] {
	text-align: center;
}

</style>
{% endblock %}
