<div class="navbar subnav" role="navigation">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand ellipsis" href="/">
				<span>
				{{ brand_html }} 
				</span>
			</a>
		</div>
	    <div class="navbar-inner">
	        <div class="container"> 
		        <ul class="nav navbar-nav navbar-left">
				{% for s in sub_navbar_items %} 		 
				<li data-label="{{ s.URL }}">
				<a href="/features">{{ s.label }}</a>
				</li>
				{% endfor %}	
		        </ul>	
			</div>
		</div>
	</div>
</div>

<script>
frappe.ready(function() {
$('.subnav').affix({
      offset: {
        top: $('.navbar').height()
      }
});	
});	
</script>