.erpnext-features {
	text-align: center;
}

#page-features [data-html-block="header"],
#page-pricing [data-html-block="header"] {
	text-align: center;
}

.erpnext-features h3 {
	margin-top: 70px;
}

@media (min-width: 768px) {
	.erp-feature .narrow {
		max-width: 60%;
	}
}

.erp-feature {
	padding: 50px 15px;
	border-bottom: 1px solid #d1d8dd;
	margin: 0 -15px;
}

.feature-separator {
	margin: 0 auto 120px !important;
}

.plan {
	height: 780px;
}

.plan .small {
	font-size: 15px;
}

.plan-head {
	background-color: #f7fafc;
	padding-top: 5px;
	border-bottom: 1px solid #e6e6e6;
}

.plan-head .bold {
	font-size: 20px;
	font-weight: normal;
	padding-top: 10px;
}

.plan-head h1 {
	font-size: 40px;
	margin-top: 0;
}

.erpnext-paid-plans .plan {
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	margin-bottom: 30px;
}

.erpnext-paid-plans .plan .plan-title {
	padding-top: 30px;
	padding-bottom: 15px;
	margin: 10px;
}

.erpnext-paid-plans .plan .plan-item {
	margin: 10px;
}

.erpnext-paid-plans .plan .plan-item:nth-child(4) {
	padding-bottom: 30px;
}

.bottom-section {
	padding: 15px 30px 0 30px;
	text-align: left;
}

.plan-detail .indicator {
	font-size: 14px;
	font-weight: 400;
}

.plan-detail .indicator::before {
	margin: 0 8px 1px 0;
}

.price {
	font-size: 40px;
}

.price .small {
	font-size: 18px;
}

.main-heading {
	margin-top:50px;
}

.erpnext-pricing {
	padding-top: 100px;
}

.erpnext-paid-plans .small.blue.button {
	margin: 5px;
}

.trial {
	margin-bottom: 30px;
	padding-top: 10px;
}

@media (max-width: 767px) {
	.erpnext-paid-plans .col-sm-3 {
		margin: 20px 0;
	}
}

.support-plans p {
	margin-top: 0;
	margin-bottom: 20px;
}

.support-plans-section {
	padding: 40px 0 !important;
}

.support-plans {
	padding: 0 20px;
}

.compare-erpnext .table-responsive,
.compare-erpnext .table-bordered,
.compare-erpnext .table-bordered td,
.compare-erpnext .table-bordered th {
	border-color: #223b4f;
}

.compare-erpnext td.c-yes {
	background-color: #78e361;
}

.compare-erpnext td.c-no {
	background-color: #ffb170;
}

.compare-erpnext td.c-maybe {
	background-color: #fff348;
}

#page-terms,
#page-faq,
#page-privacy,
#page-testimonials,
#page-license-trademark,
#page-contribute {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
	#page-terms,
	#page-faq,
	#page-privacy,
	#page-testimonials,
	#page-license-trademark,
	#page-contribute {
		max-width: 75%;
	}
}

#page-features .page-content {
	padding: 0;
}

#page-version-5 .page-content {
	padding-bottom: 0;
}

.small-content h4 {
	margin-bottom: 0;
}

.benefits-check {
	float: left;
	margin-left: -20px;
	margin-top: 3px;
	color: #98d85b;
}

.article-style {
	margin-top:0;
	margin-left: 20px;
	max-width: 560px;
	margin: auto;
	font-size: 1.13em;
	line-height: 1.5;
}

.page-container[data-path="proposals"] .page-header-block,
.page-container[data-path="proposals"] .page-header-actions-block {
	display: block !important;
}

.page-container[data-path="proposals"] .page-header-actions-block {
	margin-top: 20px;
}
