h6 {
	font-weight: 600;
}

.navbar {
/*	background-color: #5e64ff !important;
*/}

a[href="/signup"] {
	font-weight: bold;
}

.form-horizontal-group {
	display: flex;
	justify-content: space-between
}

.form-horizontal-group .form-group{
	flex: 1;
}

.text-slim {
	font-weight: 300
}

.level {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subscription-box {
	border: 1px solid #cdd4d9;
	border-radius: 3px;
	background: #fafbfc;
	padding: 15px;
}

.stage-names {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-around;
}

.stage-name {
	width: 6rem;
}

.stage::after {
	content: '';
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 0.75rem;
	margin: 0 0.4rem 0.1rem 0px;
	/* border: 5px solid #e1e7eb;
	background: #ffffff; */
	background: #e1e7eb;
}

.stage.completed::after {
	border: 5px solid #e1e7eb;
	background: #615fff;
}

.stage-container {
	display: flex;
	position: relative;
	justify-content: space-around;
}

.stage-line {
	position: absolute;
	height: 5px;
    min-width: 70%;
	top: 9px;
	z-index: -1;
	background: #e1e7eb;
}

.staged-form {
	padding: 2rem 0rem 5rem 0rem;
	margin-top: 2rem;
}

.text-extra-muted {
	color: #d1d8dd !important;
}


.footer-message { display: none; }

.form-group {
	position: relative;
	margin-bottom: 30px;
}

.hero-and-content {
	background-color: #f5f7fa;
}

[data-html-block="header"] {
	text-align: center;
}

.page-card {
	max-width: 500px;
	padding: 30px 40px;
	margin: 20px auto;
}

.help-block {
	margin-bottom: 5px;
}

.availability-status i, .availability-spinner i {
	margin: 5px;
	font-size: 16px;
}

.validation-message {
	display: none;
	margin-top: 0px;
	position: absolute;
}

.invalid .validation-message{
	color: #ffad58;
	display: inherit;
}

.invalid input {
	border-color: #ffad58;
	background-color: #fffdf4;
}

