.erpnext-features {
	text-align: center;
}

#page-features [data-html-block="header"],
#page-pricing [data-html-block="header"] {
	text-align: center;
}

.erpnext-features h3 {
	margin-top: 70px;
}

@media (min-width: 768px) {
	.erp-feature .narrow {
		max-width: 60%;
	}
}

.erp-feature {
	padding: 50px 15px;
	border-bottom: 1px solid #d1d8dd;
	margin: 0px -15px;
}

.feature-separator {
/*	width: 50%;*/
	margin: 0px auto 120px !important;
}

.erpnext-paid-plans {
/*	border: 1px solid #d1d8dd;
	border-radius: 4px;
*/}

.erpnext-paid-plans .plan {
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

.erpnext-paid-plans .plan .plan-users {
	padding-top: 30px;
	margin: 10px;
}

.erpnext-paid-plans .plan .plan-space {
	padding-bottom: 30px;
	margin: 10px;
}

.erpnext-paid-plans .plan h2 {
	padding: 20px 0px;
	border-top: 1px solid #e6e6e6;
	margin: 0px;
	background-color: #f7fafc;
}

@media (max-width: 767px) {
	.erpnext-paid-plans .col-sm-3 {
		margin: 20px 0px;
	}
}

.support-plans p {
	margin-top: 0px;
	margin-bottom: 20px;
}

.support-plans-section {
	padding: 40px 0px !important;
}

.support-plans {
	padding: 0px 20px;
}

.compare-erpnext .table-responsive,
.compare-erpnext .table-bordered,
.compare-erpnext .table-bordered td,
.compare-erpnext .table-bordered th {
	border-color: #223B4F;
}

.compare-erpnext td.c-yes {
	background-color: #78E361;
}

.compare-erpnext td.c-no {
	background-color: #FFB170;
}

.compare-erpnext td.c-maybe {
	background-color: #FFF348;
}

#page-terms,
#page-faq,
#page-privacy,
#page-testimonials,
#page-license-trademark,
#page-contribute {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
	#page-terms,
	#page-faq,
	#page-privacy,
	#page-testimonials,
	#page-license-trademark,
	#page-contribute {
		max-width: 75%;
	}
}

#page-features .page-content {
	padding: 0px;
}
