{% macro domain(domain, title, subtitle, image, features) %}
<section class='splash' style="background-image: url(/assets/erpnext_com/img/unsplash/{{ image }})"></section>
<section class='top-section after-splash'>
	<div class=container>
		<h1>{{ title }}</h1>
		<p class='lead'>{{ subtitle }}</p>
		<div class='row mt-5'>
			{% for card in features %}
			<div class='col-sm-4 mb-4'>
				<a href='{{ card.path }}' class='card h-100 text-left'>
					<div class='card-body '>
						<h5 class='card-title'>{{ card.title }}</h5>
						{{ card.content }}
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<hr>
<section>
	<div class='container text-center'>
		<p class='lead mb-4'>Join thousands of companies world-wide and discover why ERPNext makes so much sense</p>
		<img src="/assets/erpnext_com/img/home/customer-logos.png" class='greyscale my-5'>
		<a href='/pricing' class='btn btn-primary btn-lg'>
			Get Started
		</a>
	</div>
</section>

<style>.footer-message { display: none; }</style>
{% endmacro %}
