<div class="container-fluid section-block feature-section">
	<div class="container">
		<h2 class="text-center h2">ERPNext Also Includes</h2>
		<div class="row standard-features">
			<div class="col-sm-6">
				<p><span class='indicator green'>Role Based Access</p>
				<p><span class='indicator green'>Field Level Customization</p>
				<p><span class='indicator green'>Customized Print</p>
				<p><span class='indicator green'>Email Integration</p>
				<p><span class='indicator green'>Report Builder</p>
				<p><span class='indicator green'>Shared Calendar</p>
				<p><span class='indicator green'>Customer, Vendor Portal</p>
				<p><span class='indicator green'>Downloadable Backups</p>
				<p><span class='indicator green'>Payment Integration</p>
			</div>
			<div class="col-sm-6">
				<p><span class='indicator green'>Workflow Engine</p>
				<p><span class='indicator green'>Custom Fields</p>
				<p><span class='indicator green'>Exensible Custom Scripts</p>
				<p><span class='indicator green'>SMS Integration</p>
				<p><span class='indicator green'>Gantt and Kanban View</p>
				<p><span class='indicator green'>Email Alerts</p>
				<p><span class='indicator green'>Finance Analytics</p>
				<p><span class='indicator green'>Website and Web Forms</p>
				<p><span class='indicator green'>Mobile App</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid section-block feature-section">
	<div class="container text-center">
		<p class='lead'>Trusted by more than 3000 companies across 150 countries.
			<br>
		</p>
		<!-- <p>
            <a class="x-large blue-btn button later" href="/signup?plan=Free">
                Sign Up - Free for 1 User</a>
        </p> -->
		<p>
			<a href="/signup" class="x-large blue-btn button later">Start a free 30-day trial</a>
		</p>
	</div>
</div>

<style>
.hero-and-content > .container {
	width: 100% !important;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}
</style>