{% macro hero(title) %}
<h1 class="main-heading">{{ title }}</h1>
{% endmacro %} 


{% macro feature(industry) %}

	{% if industry=="service" %}
		{% set features = [
			{"title": "Projects and Timesheets", "desc": "In ERPNext all projects are linked to Tasks, Timesheets, Expenses, Purchases, Budgets so you get a full view of your activities. Billing and Payroll is also deeply tied to projects making it easier for you to tie everything together.", "img": "/assets/erpnext_com/images/services/projects.png"},
			{"title": "Billing and Invoicing", "desc": "Billing and receivables tracking in ERPNext helps you stay
								on top of your finances. Project based accountings helps you get the
								profitability of each project on your fingertip.", "img": "/assets/erpnext_com/images/services/invoice.png"},
			{"title": "HR, Leave and Payroll", "desc": "Your employees can apply for leaves and claim expenses directly through ERPNext. All of this is seamlessly integrated with your payroll and accounting. ERPNext also helps you manage recruiting, appraisals, trainings and much more.", "img": "/assets/erpnext_com/images/services/hr.png"},
			{"title": "CRM and Sales", "desc": "With a fully integrated sales management system, you can track Leads,
								Opportunities, send Quotes, manage Orders and fulfilment in ERPNext.
								You can set alerts and send email directly from the system so that
								you can close more deals.", "img": "/assets/erpnext_com/images/services/crm.png"},
			{"title": "Helpdesk and Support", "desc": "By linking your incoming support emails to ERPNext, you can keep track
								of open issues across projects and make sure your customers are happy
								by answering on time. You can also create help articles and build
								a support portal that will make your customers get what
								they need even faster.", "img": "/assets/erpnext_com/images/services/support.png"}
		
		] %}

	{% elif industry=="retail" %}
		{% set features = [
			{"title": "Point of Sale", "desc": "ERPNext has touch-friendly Point of Sales interface which is linked to billing, payments and Inventory. You can manage settings like Currency, Cash / Bank Account, Taxes, and Terms and Conditions individually for each location. POS feature also works offline and syncs when you have internet.", "img": "/assets/erpnext_com/images/services/projects.png"},
			{"title": "Inventory", "desc": "Easily manage multiple inventory locations. When the stock goes below threshold quantity - Automatically raise material requests, send purchase orders to suppliers and record purchase receipts. Batches, serial numbers, stock valuation and automated inventory accounting help you be on top of the stock.", "img": "/assets/erpnext_com/images/services/invoice.png"},
			{"title": "Multi-store", "desc": "Your stores at multiple locations will run cohesively with ERPNext. You can manage your operations remotely, communicate between different branches and analyze real-time reports across all branches.", "img": "/assets/erpnext_com/images/services/hr.png"},
			{"title": "Billing and accounting", "desc": "Billing and receivables tracking in ERPNext helps you stay on top of your finances. Inventory linked accounting helps you get the performance of each product. Get the insights about your top selling products and make more informed decisions.", "img": "/assets/erpnext_com/images/services/crm.png"}
		
		] %}

	{% elif industry=="manufacturing" %}
		{% set features = [
			{"title": "Sales + Purchase management", "desc": "Make purchase requests for all materials required for production. Send automatically to concerned suppliers. Manage inventory of finished goods at the end of production and automatically link it to sales and accounting.", "img": "/assets/erpnext_com/images/manufacturing/manufacturing_sales.jpg"},
			{"title": "Bill of materials", "desc": "Maintain the list of all materials and operations that are required in making your finished product. Assign cost to each material and get insights of the total cost of production. Be on top of the materials required during production in real time.", "img": "/assets/erpnext_com/images/manufacturing/manufacturing_billofmaterials.jpg"},
			{"title": "Production Orders", "desc": "Track the orders for production floor, automatically track material movements as ERPNext interlinks production orders, bill of materials and inventory. Track the progress with timesheets and record successful production by registering finished goods.", "img": "/assets/erpnext_com/images/manufacturing/manufacturing_production.jpg"},
			{"title": "Inventory management", "desc": "Easily manage multiple inventory locations. Track inventory levels per warehouse and update based on manual inspection. Batches, serial numbers, stock valuation and automated inventory accounting help you be on top of stock.", "img": "/assets/erpnext_com/images/manufacturing/manufacturing_inventorymanagement.jpg"},
			{"title": "Production and materials planning", "desc": "ERPNExt helps you plan production and purchase of items for a period. With interlinked sales orders or material requests you can automatically generate production orders or purchase requests. Always be sure of having enough time and materials for production.", "img": "/assets/erpnext_com/images/manufacturing/manufacturing_productionplanning.jpg"}
		
		] %}

	{% elif industry=="distribution" %}
		{% set features = [
			{"title": "Inventory", "desc": "You can setup your inventory Warehouses and manage the Stock of your Items Batchwise or by Serial Numbers. Easily manage multiple inventory locations. Track inventory levels per warehouse and update based on manual inspection.", "img": "/assets/erpnext_com/images/distribution/distrubution_1_inventory.jpg"},
			{"title": "Sales and Purchase", "desc": "You  can track communication with your Leads or Customers. Keep engaging with them by sending newsletter once in awhile and send specific Quotations when they are ready to order. Keep track of items to buy by raising Material Requests, send Purchase Orders to your suppliers and enter Purchase Receipts when you receive material.", "img": "/assets/erpnext_com/images/distribution/distrubution_2_salespurchase.jpg"},
			{"title": "Billing and receivables", "desc": "Billing and receivables tracking in ERPNext helps you stay on top of your finances. Specific Project, customer or product based filtering helps you get the profitability of each factor on your fingertip.", "img": "/assets/erpnext_com/images/distribution/distrubution_3_billing.jpg"},
			{"title": "HR and Payroll", "desc": "Your employees can apply for leaves and claim expenses directly through ERPNext. All of this is seamlessly integrated with your payroll and accounting. ERPNext also helps you manage recruiting, appraisals, training and much more.", "img": "/assets/erpnext_com/images/distribution/distrubution_4_hr.jpg"},
			{"title": "Auto Re-ordering", "desc": "When the stock goes below threshold quantity - Automatically raise material requests, send purchase orders to suppliers and record purchase receipts. Carry out effective stock management always have enough supply at hand.", "img": "/assets/erpnext_com/images/distribution/distrubution_5_autoreorder.jpg"}
		
		] %}

	{% elif industry=="school" %}
		{% set features = [
			{"title": "Student data", "desc": "Have a secure place to collect and store all student data. Enrollment, parent’s info, address, sibling info, course material, course schedule, mark sheets and attendance. Find all the info you need about anyone instantly.", "img": "/assets/erpnext_com/images/schools/student_data.png"},
			{"title": "Attendance", "desc": "Mark attendance and track it easily. Let teachers focus on lessons by making attendance super quick. Easily drawing reports from data and also share with parents.", "img": "/assets/erpnext_com/images/schools/attendance.png"},
			{"title": "Admissions", "desc": "Efficiently manage entire school’s admission process by taking it online. Make it convenient for applying parents to go through your admission procedure. Receive applications centrally and make sure the most fit applications pass through. ", "img": "/assets/erpnext_com/images/schools/admission.png"},
			{"title": "Assessments", "desc": "Publish tests, assignments and homework to students with instructions and due dates. Be sure who submitted the answers and asses each one easily. No data entry effort and no room for error.", "img": "/assets/erpnext_com/images/schools/assessment.png"},
			{"title": "Fee collection", "desc": "Collect and manage fees in a convenient way. Always know who has paid and who as not, publish fee collection dates and send automatic reminders to concerned students. No data entry hassles.", "img": "/assets/erpnext_com/images/services/crm.png"}
		
		] %}

	{% endif %}

	{% if features -%}
			{%- for feature in features -%}
				<div class="container-fluid bg-white section-block {{ loop.cycle('bg-white', 'bg-gray') }}">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 {{ loop.cycle('', 'col-sm-push-6') }}">
								<h2 class="h2">{{ feature.title }}</h2>
								<p class="p">{{ feature.desc }}</p>
							</div>
							<div class="col-sm-6 {{ loop.cycle('', 'col-sm-pull-6') }}">
								<img src="{{ feature.img }}" class="img-responsive" alt="erpnext screen" />
							</div>
						</div>
					</div>
				</div>
			{%- endfor %}
	{%- endif %}

{% endmacro %}

