<div class="nav-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a href="/" class="brand">
                   ERPNext</a>
            </div>
            <ul class="col-xs-8 links">
                <li><a href="#">Pricing</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/user-guide">Docs</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
