<section class='section-padding section section-light'>
	<div class='container text-center'>
		<h3 class='text-center'>Integrate with your favourite Apps</h3>
		<p class='lead'>ERPNext has a host of built-in integrations that help your business take-off faster</p>
		<img src="/assets/erpnext_com/img/home/integrations.png" class='greyscale my-5'>
		<!-- <div class='mt-4 '>
				<a class="btn btn-primary btn-lg" href="/pricing">Start Free Trial</a>
			</div> -->
	</div>
</section>
<section class='section-padding section-bg'>
	<div class='container text-center'>
		<h3 class='text-center'>Loved by Users</h3>
		<p class='lead'>Used by more than 5000 companies across the world</p>
		<img src="/assets/erpnext_com/img/home/customer-logos.png" class='greyscale my-5'>
		<div class='mt-4 '>
			<a class="btn btn-primary btn-lg" href="/pricing">Start Free Trial</a>
		</div>
	</div>
</section>