<section>
    <div class='container text-center'>
        <p class='lead mb-4'>Join thousands of companies world-wide and discover why ERPNext makes so much sense</p>
        <img src="/assets/erpnext_com/img/home/customer-logos.png" class='greyscale my-5'>
        <a href='/signup?plan=P-Standard#personal-details' class='btn btn-primary btn-lg'>
            Start Free Trial
        </a>
        <p class='my-3'>
            <a href='/contact-form' class='text-muted'>
                Contact Sales
            </a>
        </p>
    </div>
</section>
