{% macro testimonials() %}
	{% set testimonialsdata = [
		{
			"desc":"I’ve been both the system admin, champion, and developer for ERPNext within my organization for almost three years now. We really love the product and it seems to only be getting better every day!",
			"customer_img": "/assets/erpnext_com/images/testimonials/alec.jpg",
			"customer_name":"Alec Ruiz-Ramon<br>United States"
		},
		{
			"desc": "After evaluating a bunch of ERPs including TCS, Tally and many others, I finally found the right ERP for my furniture manufacturing startup. I love using ERPNext and recommend it to any disrete manufacturing company",
			"customer_img": "/assets/erpnext_com/images/testimonials/sonal.jpg",
			"customer_name":"Sonal Ramnathkar<br>Pink Guppy Kids, India"
		},
		{
			"desc": "For many years we have searched for a solution that aligns with our market strategy and that provides the essential building blocks for SMBs. Our research led us to your company and your ERP solution ERPNext. Which we think has the best integrated solution with the latest technology such as cloud based, mobile ready among others",
			"customer_img": "/assets/erpnext_com/images/testimonials/sergio.jpg",
			"customer_name":"Sergio Alcántara <br>Mexico"
		},
		{
			"desc": "I am seriously very impressed with your people and your cause. WELL DONE! The world needs more people like you!",
			"customer_img": "/assets/erpnext_com/images/testimonials/chris-koh.jpg",
			"customer_name":"Chris Koh<br>Malasiya"
		},
		{
			"desc":"ERPNext has created a huge impact in our business here at Boa Casa without any doubt. I am sure that ERPNext, with the support of its strong community and one of the best customer support and development teams, will be a blessing to SMB enterprises globally.",
			"customer_img": "/assets/erpnext_com/images/testimonials/aditya.jpg",
			"customer_name":"Aditya Iyer<br>Boa Casa, India"
		},
		{
			"desc": "The reason we are using ERPNext is becauase it is feasible option for business of our size and it's scalable & grow with our business & also gives stability to customize it to our needs",
			"customer_img": "/assets/erpnext_com/images/testimonials/hqdefault.jpg",
			"customer_name":"Maya Krumins<br>Digitales, Australia"
		},
		{
			"desc": "Many ERP software have $$$ attached to them, and I too frequently see failed deployment because of that factor. Being open source and fully customizable, ERPNext position itself in a different league  and, in my opinion, toward the future.",
		    "customer_img": "/assets/erpnext_com/images/testimonials/bernard.jpg",
		    "customer_name":"Bernard Lefebvre<br>Aptitude Tech, Canada"
		},
		{
			"desc":"I did an extensive search for a suitable package and after several months settled on ERPNext. I am very happy with the package, the subscription program and especially with the support team.
You guys are great. I say this with several years of personal experience in the core team of the Joomla! open source project, so I know what I see 😊",
			"customer_img": "/assets/erpnext_com/images/testimonials/david_gale.jpg",
			"customer_name":"David Gal <br/>Netvision, Israel"
		},
		{
			"desc":	 "The UI and UX are one of the most fluid and highly useable interfaces I have ever seen in an ERP. You make accounting fun! Keep up the amazing work.",
			"customer_img": "/assets/erpnext_com/images/testimonials/gladwynlewis.jpg",
			"customer_name":"Gladwyn Lewis<br>ERP Consultant, UAE"
		},
		{
			"desc": "ERPNext is a great project that competes with the major ERP systems worldwide, I am really proud of your product ERPNext and have an excellent success story with its implementation in an industrial company in Egypt which has had two failed ERP implmentations before. I have a previous experience with Oracle E-Business and Microsoft Dynamics AX, but really I found ERPNext much more better than those ERPs",
			"customer_img": "/assets/erpnext_com/images/stories/hisham_farid.jpg",
			"customer_name":"Hisham Farid<br>Direction, Egypt"
		},
		{
			"desc": "After trying so many ERPs, what I liked is the completeness and ease of use of ERPNext. At Alcon, people were used to working on traditional excel or word files. It was difficult to get everybody to use ERPNext. However, they came around when they saw a user-friendly interface.",
			"customer_img": "/assets/erpnext_com/images/testimonials/zel-ortiz.png",
			"customer_name":"Zel Ortiz<br>Alcon Phils, Philippines"
		},
		{
			"desc": "We are a Educational products company, I signed up for a trial of ERP next and found it surprisingly powerful and elegant. Bravo, fellow startup!",
			"customer_img": "/assets/erpnext_com/images/testimonials/manoj.png",
			"customer_name":"Manoj Thandassery<br>Curiociti Learning, India"
		},
		{
			"desc": "First of all I want to say thanks for producing an ERP software that actually made me say wow! a couple of times already.",
			"customer_img": "/assets/erpnext_com/images/testimonials/wolf-dieter.jpg",
			"customer_name":"Wolf-Dieter Grabner<br>Germany"

		}

	] %}

			{%- for testimonial in testimonialsdata -%}
				<div class="review-section">
					<div class="row review-box">
						<div class="col-sm-9 testimonial-content {{ loop.cycle('', 'col-sm-push-3') }}">
							<p class="p">
								{{ testimonial.desc }}
							</p>
							<p class="text-muted review-by">
								 {{ testimonial.customer_name }}
							</p>

						</div>
						<div class="col-sm-3 {{ loop.cycle('', 'col-sm-pull-9') }}">
							<p class="overflow-h text-center">
								<img src="{{ testimonial.customer_img }}" class="img-responsive img-circle testimonial-img {{ loop.cycle('testimonial-img-right', 'testimonial-img-left') }}" />
							</p>
						</div>
					</div>
				</div>
			{%- endfor %}

{% endmacro %}