{% extends "frappe_theme/templates/base.html" %}
{% block title %}Frappe Support{% endblock %}

{% from "erpnext_com/templates/includes/card_grid.html" import card_grid %}

{% block head_include %}
	<meta name="description" content="Frappe Support" />
	<meta name="keywords" content="ERPNext Support, Enterprise Support, Developer Support" />
	<meta name="google-site-verification" content="euiq62LnIrUF6eLvL7wZEnVxhdfkfzuIMnSYRf4JzGk" />
	<meta itemprop="name" content="Frappe Support, ERPNext Support, Enterprise Support, Developer Support">
	<meta name="title" content="Frappe Support, ERPNext Support, Enterprise Support, Developer Support">
	<meta name="twitter:title" content="Frappe Support, ERPNext Support, Enterprise Support, Developer Support">
	<meta property="og:title" content="Frappe Support, ERPNext Support, Enterprise Support, Developer Support">
	<meta name="twitter:image:alt" content="Frappe Support, ERPNext Support, Enterprise Support, Developer Support">
	<meta itemprop="description" content="ERPNext Support Policy for ERPNext cloud hosting, self-hosted enterprise support plan, developer plan and functional consultant support plan">
	<meta name="twitter:description" content="ERPNext Support Policy for ERPNext cloud hosting, self-hosted enterprise support plan, developer plan and functional consultant support plan">
	<meta name="description" content="ERPNext Support Policy for ERPNext cloud hosting, self-hosted enterprise support plan, developer plan and functional consultant support plan">
	<meta property="og:description" content="ERPNext Support Policy for ERPNext cloud hosting, self-hosted enterprise support plan, developer plan and functional consultant support plan">
{% endblock %}

{% block content %}
<section class='top-section'>
	<div class='container'>
	<h1>Self Hosted Support + Warranty</h1>
	<p class='lead'>Ensure that your mission critical ERP platform is supported by the most experienced team. Frappe Self Hosted Support starts at {{ symbol }}{{ amount }} / user / year</p>
	<div class="mt-4">
		<a href='/contact-form' class='btn btn-primary'>Contact Sales</a>
		<p class='mt-3'><a class='text-muted' href='/get-a-quote'>Get a Quote</a></p>
	</div>
	</div>
</section>
<section class="section-md section-bg">
	<div class="container">
	{{ card_grid(
		None,
		None,
		[
			{
				"title": "Bug Fix Warranty",
				"content": "Get priority bug fix support from the core ERPNext team with the experience to ensure your systems run defect-free",
				"url": "/support-sla"
			},
			{
				"title": "Server Support",
				"content": "Get help from the Frappe team in debugging server issues and incidents, related to scaling or backups or recovery",
				"url": "/support-sla"
			},
			{
				"title": "Product Support",
				"content": "Get your ERPNext queries answered by trained and experienced Frappe Consultants",
				"url": "/support-sla"
			},
			{
				"title": "Upgrade Support",
				"content": "Get help while upgrading your ERPNext instance to the latest and greatest version",
				"url": "/support-sla"
			},
			{
				"title": "In App Support",
				"content": "Interact with Frappe Consultants and keep track of open tickets from inside your instance",
				"url": "/support-sla"
			},
			{
				"title": "Security Alerts",
				"content": "Update your instance as soon as security issues are fixed before they become known publicly",
				"url": "/support-sla"
			},
		])
	}}
	</div>
</section>
<section class='section section-light' id='faq'>
	<div class='container'>
		<div class="w-600">
			<h2 class='text-center mb-5'>Frequently Asked Questions</h2>

			<h5>What happens after my enterprise contract expires?</h5>
			<p class='mb-5'>
				You can continue to use ERPNext on your server after your enterprise support license expires, but you will have to manage your own support and server management. Some features like in-app support will also stop working.
			</p>

			<h5>If ERPNext is Free and Open Source, why charge per user?</h5>
			<p class='mb-5'>
				ERPNext is Free and Open Source ("free" as in "free-speech"), but the services around ERPNext need engineers to support you. These are what is charged.
				Since scale, complexity and support requirement of a deployment is proportional to the number of users, the Enterprise Support contract is also priced per user.
				Also most ERP products are priced per user, so it is easy to compare with other products. ERPNext Support is a fraction of what you would pay for NetSuite, SAP or Oracle Cloud.
			</p>

			<h5>Is there a separate pricing for Employee Self-Service (HR module only) user?</h5>
			<p class='mb-5'>
				No. ERPNext is not restricted to just one module, with the standard support, customers can access all modules like and CRM, Projects, Helpdesk.
				<br><br>
				<a href='/get-a-quote'>Get a pricing estimate.</a>
			</p>

			<h5>How is the number of users counted?</h5>
			<p class='mb-5'>The number of users at the time of signup is counted for the Support Billing. If the number of users exceeds by 15% of the billable users, additional billing is required, for continued support.</p>

			<h5>Is ERPNext available in my language?</h5>
			<p class='mb-5'>
				Most likely yes! ERPNext has been translated to more than 70 languages with the help of the community. <a href='https://translate.erpnext.com' target='_blank'>View the translation portal for a full list of supported languages</a>
			</p>

			<h5>Can I pay via credit card or wire transfer?</h5>
			<p class='mb-5'>Yes, you can make payment from within your account using your credit card. If you prefer wire us the money, <a href='/pricing/payment'>here are our bank details.</a></p>

			<p>Still have questions? Feel free to drop us a mail at <a href='mailto:hello@erpnext.com'>hello@erpnext.com</a>

			<!-- <div class='my-5 text-center'>
				<a href='/contact-form' class='btn btn-primary btn-lg'>Contact Sales</a>
				<p class='mt-3'><a class='text-muted' href='/get-a-quote'>Get a Quote</a></p>
			</div> -->
		</div>
	</div>
</section>

{% endblock %}
